[2021-04-23 23:09] jwflory opened #13 "Add team profiles as a new page archetype"
# Summary

Create a new page template, or [archetype](https://gohugo.io/content-management/archetypes/), to act as a community profiles for UNICEF Innovation Fund grantees

# Background

**Is your feature request related to a problem? Please describe**:

The current site is a knowledgebase. It does not have many social features, or ways to engage visitors other than searching the site or browsing

[2021-08-13 12:55] jwflory opened #14 "Create reserved weight ranges; otherwise do not make weight required in posts"
# Summary

Currently, all posts must have a `weight` specified for its order in the sidebar; default behavior should be to alphabetize unless a weight is explicitly specified.

# Background

**Is your feature request related to a problem? Please describe**:

Manually specifying a weight for every post is not intuitive. It is hard to document as a convention, and is easy to become unsorted over tim

[2021-08-19 17:17] jwflory opened #15 "Show an author byline when author attribute entry is specified"
# Summary

Add a byline with author names and emails (if provided) when `:author:` attribute entry is used

# Background

**Is your improvement related to a problem? Please describe**:

Some articles are written by guest experts or external folks from the UNICEF Office of Innovation. It would be good to accent that visually from the body of the article content when an author is provided.

**Descri

[2021-08-19 17:50] jwflory opened #16 "Create more appealing and responsive table of contents"
# Summary

The table of contents, when specified (#29 / unicef/inventory#58), is not responsive and is somewhat visually confusing; design and implement a more modern and responsive table of contents.

# Background

**Is your feature request related to a problem? Please describe**:

The current table of contents is not visually distinct in the article. "Table of Contents" string is isolated and no

[2021-10-05 18:08] jwflory commented on #13
Issue transferred from `unicef/inventory#15` to unicef/inventory-hugo-theme#13.

[2021-10-05 18:13] jwflory commented on #14
Issue transferred from `unicef/inventory#53` to unicef/inventory-hugo-theme#14.

[2021-10-05 18:13] jwflory commented on #15
Issue transferred from `unicef/inventory#60` to unicef/inventory-hugo-theme#15.

[2021-10-05 18:14] jwflory commented on #16
Issue transferred from `unicef/inventory#61` to unicef/inventory-hugo-theme#16.

[2021-10-05 18:26] jwflory opened #17 "[branding] Add white "UNICEF: for every child" logo with cyan background to header"
# Summary

Add the "UNICEF: for every child" logo to the header bar at the top of every page; logo should be white on a cyan background

# Background

**Is the improvement related to a problem? Describe the problem**: The Inventory theme needs to meet UNICEF's brand guidelines in order to receive final approval by ICTD and DOC as a UNICEF-branded website.

**What does the improvement look like to

[2021-10-05 18:36] jwflory opened #18 "[branding] Add a new header bar above the existing header bar for UNICEF logo and linkbacks"
# Summary

Create a new header bar on top of the existing one to hold the UNICEF logo (#17) and other linkbacks to UNICEF web pages

# Background

**Is the improvement related to a problem? Describe the problem**: The Inventory theme needs to meet UNICEF's brand guidelines in order to receive final approval by ICTD and DOC as a UNICEF-branded website.

**What does the improvement look like to you?

[2021-10-05 19:40] jwflory opened #19 "[branding] Ensure all color schemes used conform to UNICEF brand book colour guidelines"
# Summary

Perform an analysis and review of color schemes used across the Inventory theme to conform with the UNICEF brand book colour guidelines; make changes as necessary

# Background

**Is the improvement related to a problem? Describe the problem**: The Inventory theme needs to meet UNICEF's brand guidelines in order to receive final approval by ICTD and DOC as a UNICEF-branded website.

**W

[2021-10-06 09:04] jwflory opened #20 "[branding] Create an expanded footer section with static and dynamic content"
# Summary

Create a new footer section to include a paragraph of text, hyperlinks, contact information, and social media icons/links

# Background

**Is the improvement related to a problem? Describe the problem**: The Inventory theme needs to meet UNICEF's brand guidelines in order to receive final approval by ICTD and DOC as a UNICEF-branded website.

**What does the improvement look like to you

[2021-10-06 09:05] jwflory commented on #13
Moved from `in progress` to `waiting on external` while we pivot this sprint to working on issues related to UNICEF branding (#17, #18, #19, #20) in order to receive ICTD approval for the website.

[2021-10-10 16:33] jwflory commented on #18
This issue is also now complete, via #22, #23, and #25. Closing! 🎬

[2021-10-19 07:39] jwflory opened #27 "Improve user experience of sidebar navigation"
# Summary

Simplify design of the the sidebar navigation to improve user experience for someone browsing the site.

# Background

**Is the improvement related to a problem? Describe the problem**:

* **Categories with many articles**: When a category begins to accumulate a lot of content (like the [Meta category](https://unicef.github.io/inventory/meta/), the sidebar navigation starts to look busy

[2021-10-19 07:48] justwheel opened #28 "Add featured pull requests to team profile cards with GitHub REST API"
# Summary

Provide a list of GitHub Pull Request URLs in team profile front matter, and add metadata about the Pull Requests to the team profile (by way of [GitHub REST API](https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api))

# Background

**Is the improvement related to a problem? Describe the problem**: Sometimes there are noteworthy Pull Requests we want to highlight by

[2021-11-02 17:57] jwflory opened #30 "If no featured articles exist, do not show "Related Articles" header at bottom of page"
# Summary

When there are no related articles for a page, do not show the "_Related Articles_" header at the bottom of the page

# Background

**Is the improvement related to a problem? Describe the problem**:

If there are no related articles, the header still appears and can be confusing as to why it is there:

![Screenshot of the Related Articles header appearing on a page when there are no rel

[2021-11-08 12:00] jwflory opened #31 "Change PDF download button logic into reusable partial layout"
# Summary

Move the existing PDF download button logic into a reusable partial layout, for easier reuse across other layouts

# Background

**Is the improvement related to a problem? Describe the problem**: Sometimes we want to add the PDF download button into other layouts, but currently this only exists in `./layouts/partials/default.html`.

**What does the improvement look like to you?**: Move

[2021-11-09 17:28] #13 closed

[2021-11-19 10:05] jwflory opened #32 "Hide sub-categories from index page categories"
# Summary

If a section has sub-categories with index pages, do not show them by default on the index page

# How to reproduce?

1. Create a sub-category (e.g. `mkdir content/legal-policy/licenses/`)
2. Add an index page to the sub-category (e.g. `content/legal-policy/licenses/_index.en.adoc`)
3. View the site index page and see the category shown

# Expected behavior

![Screenshot of the site ind

[2021-11-22 18:47] jwflory opened #33 "Support embedded PDFs in an article"
# Summary

Embed a PDF document into an article.

# Background

**Is the new feature related to a problem? Describe the problem**:

Sometimes it is desired to render a PDF document on a page. This can be the main deliverable for a page. The user could click to open a link or button, but it is a better user experience to render the PDF inside a page.

**What does the new feature look like to you?**

[2021-11-22 18:56] jwflory opened #34 "Create a Download Portal template"
# Summary

Create a new type of page for offering downloads (e.g. research or information in a PDF or slide deck format)

# Background

**Is the new feature related to a problem? Describe the problem**:

Sometimes the main purpose of an article/page might be to give a concrete resource to someone else. It may be in another format like a PDF document. The primary purpose of the article/page is to f

[2021-11-22 19:38] jwflory opened #35 "Design a generic template/format for team profiles to repurpose as module or in theme"
# Summary

Import the Inventory team profiles from a downstream implementation and incorporate it into reusable code, either as a [Hugo module](https://gohugo.io/hugo-modules/) or adding it to the [Inventory theme](https://github.com/unicef/inventory-hugo-theme)

# Background

**Is the new feature related to a problem? Describe the problem**:

The team profiles feature is one of the most useful fe

[2021-11-30 16:38] Idadelveloper opened #36 "Adjust navigation bar on mobile devices"
# Summary

The navigation bar looks alright on desktop or larger screens. However, the text in it looks disorganized on mobile devices.

## What you expected to happen

All items in the navbar should be aligned to the center and equally spaced.

## What actually happened
Currently, the link to UNICEF global is left-aligned.

**Screenshots**:

![unicefbannerissue](https://user-images.githubusercont

[2021-11-30 17:09] Idadelveloper opened #37 "Improve layout of sub-sections in sidebar navigation"
# Summary

The sidebar of the cohort pages is getting too long with the addition of new start-ups. It's even worse on mobile devices where the user will have to scroll endlessly before reaching the main content. (https://unicef.github.io/inventory/cohorts/blockchain/)
It will be better if just the 5 main categories of the cohorts (_Blockchain, Drones, AR+VR, Data Science & AI, and Others_) are the

[2021-12-02 08:50] Idadelveloper commented on #14
@jwflory if the weight isn't specified it automatically orders alphabetically.

[2021-12-02 11:19] jwflory commented on #14
@Idadelveloper Right. Did you verify the behavior in a category with posts manually assigned a weight and some without? What happens in this case?

[2021-12-02 13:04] Idadelveloper commented on #14
@jwflory the same thing happens. It prioritizes the ones with the weight assigned and orders the others alphabetically.

[2021-12-02 20:26] jwflory commented on #36
Moved from `unicef/inventory#99`. Also added to the project board for the current sprint ending next Friday (10 December).

+1! I am also wondering if it makes sense to remove the hyperlink from the logo, since the "`Visit UNICEF Global` is already there. Lately I have found myself accidentally clicking the logo to go back to the main page, but instead going to the UNICEF homepage.

[2021-12-02 20:36] jwflory commented on #37
Moved from `unicef/inventory#101`. I also added this issue to the project board for the next sprint.

A couple of thoughts for this task:

1. Instead of removing the sidebar, we should either use a more responsive layout, or make them collapsible once they get past a certain count.
1. This change should be made for the sidebar for all pages instead of only the cohorts section.

Instead of removing

[2021-12-03 12:35] #14 closed

[2021-12-09 17:30] jwflory commented on #37
I think this is a duplicate of #27.

[2021-12-09 17:52] jwflory commented on #27
Reposting this comment from #37:

---

A couple of thoughts for this task:

1. Instead of removing the sidebar, we should either use a more responsive layout, or make them collapsible once they get past a certain count.
1. This change should be made for the sidebar for all pages instead of only the cohorts section.

Instead of removing the sub-sections, I think we should keep them there for naviga

[2021-12-09 17:52] jwflory commented on #37
Closing as `duplicate`, see #27.

[2021-12-09 17:52] #37 closed

[2021-12-09 17:53] jwflory commented on #27
@Idadelveloper Please post the Figma screenshot here of the wireframe we talked about in stand-up when you have a moment.

[2021-12-13 07:06] Idadelveloper commented on #27
Here are the proposed designs...

Here's the default menU:
![menu-default](https://user-images.githubusercontent.com/56026636/145767120-ff99045c-e5c0-4fb4-b61b-0dc4488a029b.png)

Here's the menu expanded:
![menu-expanded](https://user-images.githubusercontent.com/56026636/145767253-b86019d6-e5e5-42f3-be06-4598b4a5d28a.png)

[2021-12-13 17:55] jwflory commented on #27
In stand-up today, we checked in for the new sprint beginning today. @Idadelveloper is working through the theme on figuring out the best way to construct the sidebar to match the wireframe above.

[2022-01-04 14:15] Idadelveloper commented on #36
@jwflory should I reopen this issue? The navbar is messed up again for mobile devices.
![bad-nav](https://user-images.githubusercontent.com/56026636/148071992-ad001989-2d50-4308-ad65-a1cf0c534f8c.png)
?

[2022-01-05 22:06] jwflory commented on #32
This issue will be solved by the new sidebar design in #45. In the new design, the need to have an index page defining a category and listing the pages within is not as necessary. We can simply remove the index pages from the sub-categories, and they will no longer appear on the index page.

I moved this issue to the "waiting on external" column on the sprint board (blocked until #45 merges).

[2022-01-06 14:43] jwflory commented on #36
@Idadelveloper Yes! 👍🏻 I just reopened it now and will add it back to our sprint board.

[2022-01-06 15:34] Idadelveloper commented on #32
Hey @jwflory . If you don't want a sub-category or category to be displayed on the index page I think in the front matter you do not specify `type: docs`

Or am I missing the point?

[2022-01-06 23:54] jwflory commented on #32
@Idadelveloper No, it really was that easy this whole time. 😀 I opened unicef/inventory#112 to fix this in the short-term, which will close this issue once merged.

[2022-01-06 23:54] #32 closed

[2022-01-10 14:22] #27 closed

[2022-01-10 14:44] #36 closed

[2022-01-12 16:08] jwflory opened #49 "Do not use a dropdown for section-tree-nav if inside .Content of a page"
# Summary

The `section-tree-nav` element is used for both the sidebar of a page and as the default index page if a category does not have an index page. The sidebar list looks right, but the list of pages is minimized by default in the main area of the page.

# How to reproduce?

1. Create a category in `/content/` but do not create a `_index.en.md` file
2. Add other pages to the category (e.g. `

[2022-01-13 16:47] jwflory opened #50 "Add "edit this page" banner to view source content of a page in GitHub"
# Summary

Add a banner, button, or something else distinct titled "edit this page", which when clicked, takes the user to the source material in the source forge of choice (e.g. an AsciiDoc page on GitHub.com).

# Background

**Is the new feature related to a problem? Describe the problem**: All the content on the site is open source, but it is not clear or intuitive that edits are welcome or acc

[2022-02-07 12:54] Neha9849 commented on #50
That sound's great! I would like to contribute.

[2022-02-09 13:54] jwflory commented on #50
Hey @Neha9849, thanks for your interest in working on this! 🙌🏻 I would be happy to review a PR from you for this issue. I think a good place to start would be a mock-up or preview of what this might look like first, before writing code. Perhaps a button in the top of the page could be best, but curious to see what you come up with.

Do you need any guidance from me on getting started? Let me know

[2022-02-09 19:06] Neha9849 commented on #50
Hey @jwflory , I am currently working on hugo, as i am new to this. I will be asking you if i have any issue. And i thought of a button in the Navbar.  Something like this-
![Screenshot (7)](https://user-images.githubusercontent.com/85057583/153271548-7cc36076-2848-450e-9eb8-f2827398b3e8.png)
Do this community have any channels for diccussions? Lemme me know if there is one :)

[2022-02-10 09:05] jwflory commented on #50
No problem. You can use this GitHub issue to ask for help. 👍🏻 You may also find this [intern on-boarding guide](https://unicef.github.io/inventory/meta/inventory/intern-guide/) useful as a starting point too.

Makes sense. I think placing the button between the breadcrumbs and the page title could work:

![Screenshot of the top section of an article in the Open Source Inventory, showing the breadc

[2022-02-15 21:16] #49 closed

[2022-02-15 21:16] jwflory commented on #49
Thanks @Neha9849 for fixing this one! 🥳

[2022-02-21 22:40] Neha9849 commented on #33
I think using an iframe something like
[code]
may work without using any library.

Preview:
![Screenshot (21)](https://user-images.githubusercontent.com/85057583/155034223-ece026b0-6b00-4fdc-b501-67ae57085e1a.png)

We can also use <embed> tag

[2022-02-22 11:00] jwflory commented on #31
@Neha9849 addresses this in PR #55.

[2022-02-22 11:06] #31 closed

[2022-02-22 11:35] jwflory commented on #33
@Neha9849 It is a nice idea, but generally I try to avoid iframes. Some of the drawbacks are explained in [this post](https://www.ostraining.com/blog/webdesign/against-using-iframes/), most notably the challenges with mobile/responsive layouts.

I am open to trying other ideas, but the biggest win we want is getting a [Hugo shortcode](https://gohugo.io/extras/shortcodes/) out of this. Perhaps the

[2022-02-22 19:32] Neha9849 commented on #33
I tried using [anvithks/hugo-embed-pdf-shortcode](https://github.com/anvithks/hugo-embed-pdf-shortcode). But it was not working for me. Can you test it once ?

[2022-02-28 21:15] mmldco commented on #30
HI @jwflory,

I believe I may have a solution for this. I'm fairly new to Hugo so the solution will definitely need double checking before merging.

[2022-03-01 05:47] Syed-Ansar opened #57 "Duplication of Home Page in Footer."
# Summary
In the https://unicef.github.io/inventory-hugo-theme/ page. There are two home links of same functionality.

# Background
<img width="1440" alt="Screenshot 2022-03-01 at 10 53 25 AM" src="https://user-images.githubusercontent.com/82027712/156112118-c2355937-de22-41b3-bc93-e2daac1a998f.png">

# Details
Only one link should be present there. Another should be removed.

# Outcome

<img widt

[2022-03-01 06:08] Syed-Ansar commented on #57
@jwflory Can I work on this. Assign it to me.

[2022-03-07 11:39] Idadelveloper commented on #16
Hi @jwflory. I did a little bit of tweaking with my browser dev tools and please tell me what you think:

![toc-1](https://user-images.githubusercontent.com/56026636/157024262-7e5652f2-fdcb-4590-bb2c-8c81b247a751.png)
![toc-2](https://user-images.githubusercontent.com/56026636/157024284-0ebc98e6-ee09-4bce-ada4-253e028be5e1.png)

What do you think should be added or changed?

[2022-03-09 15:25] jwflory commented on #16
@Idadelveloper Looking good! The contrast and title heading for _Table of Contents_ look nice. I have two suggestions to improve it:

1. Adding a border to the box would be nice, similar to how [Wikipedia articles](https://en.wikipedia.org/wiki/Nowruz) do it. It would make the contrast more distinct.
2. Removing the bullet points from the unordered list would be nice. I think the bullets are unnec

[2022-03-09 16:38] Syed-Ansar commented on #57
Okay @jwflory I will work on it

[2022-03-09 17:48] jwflory commented on #57
@Syed-Ansar Great! Feel free to ask any questions in this GitHub Issue as you go.

[2022-03-09 18:07] Syed-Ansar commented on #57
@jwflory Is there any IRC channel, slack, or any mode of communication channel for contributors or developers

[2022-03-09 18:23] jwflory commented on #57
We have a Matrix room set up. You can join using [this link](https://matrix.to/#/#unicef-innovation:matrix.org). Feel free to drop an intro and say hi once you're there! If you never used Matrix before, you can see the [getting started page](https://element.io/get-started) for the Element chat client.

[2022-03-09 18:25] Syed-Ansar commented on #57
Thank you @jwflory

[2022-03-10 08:21] Yavnikaa commented on #35
This looks interesting to me. Shall I start working on it?

[2022-03-10 09:06] Yavnikaa commented on #30
Can I take this up?

[2022-03-10 09:48] Yavnikaa commented on #30
One thing I want to confirm here is that to test out any changes I make, do I directly start a hugo server here with this repo or do I make it as a submodule in an existing hugo site to test out my changes?

[2022-03-10 10:05] jwflory commented on #35
@Yavnikaa Thanks for your interest here! The task detailed here is important, but it is complex in nature. It would involve working with the current implementation of the Team Profiles in the `unicef/inventory` repo, creating a generic version of them to include in this theme, and then updating the implementation in `unicef/inventory` to adapt to the new, generic version. I think it could take a c

[2022-03-10 10:10] jwflory commented on #30
Definitely! This is a good one to get started with, and it will introduce you to the templating syntax used in Hugo layouts.

Good question. I suggest a two-part approach to developing and testing this change:

1. Clone this repo and work on your changes using the `exampleSite` included in the repo. Test your changes with the `exampleSite` theme until you get them right.
2. Once verified with the

[2022-03-10 17:17] jwflory opened #59 "[START HERE!] Outreachy #1: Set up a development environment with the UNICEF Inventory example site"
_Welcome to Outreachy 2022 with @unicef! This is an issue meant for newcomers working on the UNICEF Inventory project. Before working on this project, you should read the [full project profile](https://www.outreachy.org/outreachy-may-2022-internship-round/communities/unicef/#improve-uiux-of-unicef-inventory-and-redesign-site) from the Outreachy website for more background. It will make your first

[2022-03-10 17:30] jwflory opened #60 "Outreachy #2: Set up a development environment with the UNICEF Open Source Inventory"
_Welcome to Outreachy 2022 with @unicef! This is an issue meant for newcomers working on the UNICEF Inventory project. Before working on this project, you should read the [full project profile](https://www.outreachy.org/outreachy-may-2022-internship-round/communities/unicef/#improve-uiux-of-unicef-inventory-and-redesign-site) from the Outreachy website for more background. It will make your first

[2022-03-10 18:05] jwflory opened #61 "Outreachy #3: Use a git feature branch from your fork in the git submodule to show changes"
_Welcome to Outreachy 2022 with @unicef! This is an issue meant for newcomers working on the UNICEF Inventory project. Before working on this project, you should read the [full project profile](https://www.outreachy.org/outreachy-may-2022-internship-round/communities/unicef/#improve-uiux-of-unicef-inventory-and-redesign-site) from the Outreachy website for more background. It will make your first

[2022-03-10 18:07] jwflory commented on #16
@Idadelveloper Should I go ahead and assign this issue to you if you are working on it? Since the next Outreachy round is coming up, it would be a good idea to assign it if you are, so someone else doesn't duplicate the same work twice.

[2022-03-10 18:35] jwflory opened #62 "Code blocks have too much spacing between lines"
# Summary

Hugo's [`highlight` syntax highlighter](https://gohugo.io/functions/highlight/) has too much whitespace between lines, and lines of code do not match with line numbers.

# How to reproduce?

1. Create a block of code inside a content file using `{{< highlight >}}`
2. Run `hugo serve`
3. Go to the page with the block of code

# Expected behavior

A code block appears with no spacing betw

[2022-03-10 18:50] jwflory opened #63 "Support a new AsciiDoc admonition block: NOTE"
# Summary

When an AsciiDoc `NOTE` admonition is used, it should be more distinguished from the rest of the content on a page.

# Background

**Is the new feature related to a problem? Describe the problem**: AsciiDoc supports several kinds of [admonitions](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#admonitions), but when they are used, they are not visually distinguished

[2022-03-10 18:52] jwflory opened #64 "Support a new AsciiDoc admonition block: IMPORTANT"
# Summary

When an AsciiDoc `IMPORTANT` admonition is used, it should be more distinguished from the rest of the content on a page.

# Background

**Is the new feature related to a problem? Describe the problem**: AsciiDoc supports several kinds of [admonitions](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#admonitions), but when they are used, they are not visually distingu

[2022-03-10 19:00] jwflory opened #65 "Support a new AsciiDoc admonition block: TIP"
# Summary

When an AsciiDoc `TIP` admonition is used, it should be more distinguished from the rest of the content on a page.

# Background

**Is the new feature related to a problem? Describe the problem**: AsciiDoc supports several kinds of [admonitions](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#admonitions), but when they are used, they are not visually distinguished:

[2022-03-10 19:17] jwflory opened #66 "Support a new AsciiDoc admonition block: CAUTION"
# Summary

When an AsciiDoc `CAUTION` admonition is used, it should be more distinguished from the rest of the content on a page.

# Background

**Is the new feature related to a problem? Describe the problem**: AsciiDoc supports several kinds of [admonitions](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#admonitions), but when they are used, they are not visually distinguis

[2022-03-10 19:19] jwflory opened #67 "Support a new AsciiDoc admonition block: WARNING"
# Summary

When an AsciiDoc `WARNING` admonition is used, it should be more distinguished from the rest of the content on a page.

# Background

**Is the new feature related to a problem? Describe the problem**: AsciiDoc supports several kinds of [admonitions](https://docs.asciidoctor.org/asciidoc/latest/syntax-quick-reference/#admonitions), but when they are used, they are not visually distinguis

[2022-03-11 00:24] mmldco commented on #60
HI @jwflory , there are two issue that will trip up contributors when they're working on this task.

1. You'll need to add a trailing 's' to the 'Other' folder otherwise contributors will get a 404 error when they try navigating to it.
2. Add an instruction to inform contributors that they'll need to remove the` draft: true` declaration inside their edited template file otherwise it wont show up w

[2022-03-11 05:40] Idadelveloper commented on #16
Oh. @jwflory I might be a little slow with the issue. Also, this is a really good issue for the next intern 😏.
Is it possible for me to be an outreachy mentor for the inventory? Or must I be a UNICEF employee?  I'll really love to help with this since I'm familiar with the repo.

[2022-03-11 10:16] jwflory commented on #60
Hey @mmldco, thanks for coming in here!

Not sure I understand what you mean. I'm not getting the 404 Error with the trailing `s`. The profiles that would fit into the _Others_ category would be here:

https://unicef.github.io/inventory/cohorts/other/

But this is a 404 Error for me:

https://unicef.github.io/inventory/cohorts/others/

Good catch. I think your comment here in this GitHub Issue is

[2022-03-11 10:18] jwflory commented on #16
@Idadelveloper For sure! It would be great to have you on board as a mentor. 🚀 Are you able to join our [Matrix room](https://matrix.to/#/#unicef-innovation:matrix.org)? This is where I am coordinating with applicants once they start rolling in. Feel free to drop an intro in the channel and say hi once you're there! If you never used Matrix before, you can see the [getting started page](https://el

[2022-03-11 10:41] mmldco commented on #60
See the below screenshot for what's causing the 404 error.

![Screenshot 2022-03-11 at 1 27 19 PM](https://user-images.githubusercontent.com/69677286/157851308-f706e90e-f67b-4e29-b424-6c0608cfd01c.png)

[2022-03-11 11:04] mmldco commented on #60
See the below screenshot below to see what I believe is causing the 404 error.

![Screenshot 2022-03-11 at 1 48 51 PM](https://user-images.githubusercontent.com/69677286/157854763-239f1a6a-156a-489d-a67e-f16845fe1554.png)

[2022-03-11 11:29] jwflory commented on #60
@mmldco Oh, I see what you mean now. Great catch! Could you raise a Pull Request to the Open Source Inventory repository to fix this? This is a separate bug from what this issue is about.

[2022-03-11 12:03] mmldco commented on #60
@jwflory done.

[2022-03-11 14:13] jwflory commented on #30
FYI: @mmldco submitted a PR that addresses this issue, see #68.

[2022-03-11 15:22] jwflory opened #69 "Add support for categories as external links"
# Summary

Allow the creation of a special category on the site home page to link to an external website, instead of linking to an index page within the same site.

# Background

**Is the new feature related to a problem? Describe the problem**: In the future, the UNICEF Open Source Inventory will be restructured around the [Digital Public Goods Standard](https://digitalpublicgoods.net/standard/).

[2022-03-13 08:22] Yavnikaa commented on #59
![Screenshot (207)](https://user-images.githubusercontent.com/56485761/158051338-eb27e51c-fb88-4485-95d3-597ae695bc99.png)

I have done as directed on my local machine. Hope this is correct! :))

[2022-03-13 08:36] Yavnikaa commented on #60
![Screenshot (208)](https://user-images.githubusercontent.com/56485761/158051709-ce4ddc6f-243b-4117-98bb-f3e75435df95.png)

Completed as instructed!

[2022-03-13 08:53] Yavnikaa commented on #61
Yes, I could see my username in place of the title.

My forked github repository: https://github.com/Yavnikaa/inventory-hugo-theme.git
My pushed branch: https://github.com/Yavnikaa/inventory-hugo-theme/tree/milestone

I have completed all the three tasks as instructed. Please review them and once and let me know if there's anything that still needs to be done! :')

[2022-03-13 08:56] Yavnikaa commented on #16
Hey, is there already work going on this? Or shall I get on it?

[2022-03-13 08:57] Yavnikaa commented on #15
May I work on this?

[2022-03-14 09:08] steph237 commented on #59
I cloned the repo and followed the instructions. I hope I did it right
![un inventory](https://user-images.githubusercontent.com/43364084/158140056-cd9dd566-4e22-4238-8f6e-f26c948b7561.png)
.

[2022-03-14 14:44] BeeBombshell commented on #60
Hi... I set up the Inventory repo and finished the task as instructed... 😊

<img width="960" alt="image" src="https://user-images.githubusercontent.com/53828745/158195544-6d4f9e44-c325-4240-a5c7-b1ad5ad30a9f.png">

[2022-03-14 15:05] jwflory opened #71 "Docs: Add table shortcode in Features category, Shortcodes page"
# Summary

Write new documentation to describe the table shortcode added in unicef/inventory-hugo-theme#70

# Background

This feature was added to support rendering complex information in tables as part of an exercise @acabunoc put together when working with Venture Fund companies. The feature should be documented in the sample website to better capture the capabilities and unique features of thi

[2022-03-14 15:15] BeeBombshell commented on #61
Hi... I completed this issue as per the instructions and could see my username in the browser tab... 😊

The links to my forked GitHub repo and the feature branch are as follows:

- Forked GitHub Repo: https://github.com/BeeBombshell/inventory-hugo-theme.git
- Feature Branch: https://github.com/BeeBombshell/inventory-hugo-theme/tree/task3

[2022-03-14 15:22] jwflory commented on #59
Thanks @Yavnikaa, @steph237, & @BeeBombshell, looking good! 👍🏻

[2022-03-14 15:24] jwflory commented on #60
Nice work @Yavnikaa & @BeeBombshell 👍🏻

[2022-03-14 15:28] jwflory commented on #61
Looking good @Yavnikaa & @BeeBombshell! You both look set to work on the project and take on a bigger task now. I am working on the contribution guidelines for this repository still, but the best practice, for now, is to look at the issues labeled as [`I: good first issue`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3Aissue+is%3Aopen+label%3A%22I%3A+good+first+issue%22) and/or [`I:

[2022-03-14 15:30] jwflory commented on #16
Hey @Yavnikaa, you can take this one and @Idadelveloper can review your Pull Request when ready. I'll assign this one to you.

Go ahead and use the mockup posted by Ida above, and you can incorporate my feedback into it. When you're ready, you can open a pull request for review. If you have any questions while working on this, ask away here or in the Matrix room.

[2022-03-14 15:32] jwflory commented on #15
Hey @Yavnikaa, you can work on #16 first. If no one else claims this issue before then, let's follow up again after #16.

[2022-03-14 16:03] BeeBombshell commented on #62
Hi @jwflory, can I work on this issue? 😊

[2022-03-14 16:29] steph237 commented on #60
![inventory2](https://user-images.githubusercontent.com/43364084/158217267-b55b1eee-7fa3-462e-a246-0e44dd1fdb39.png)
Hi I followed the instructions, set up the repo and finished the task

[2022-03-14 16:42] jwflory commented on #60
Looks good @steph237, you're ready for Task 3 👍🏻

[2022-03-14 16:44] jwflory commented on #62
@BeeBombshell Sure, it's yours 👍🏻 The links in the original comment will help you get started. Ask here or in the Matrix room if you have questions or face difficulties while working on this.

[2022-03-14 17:46] Yavnikaa commented on #16
Sure! I totally agree with your feedback and would incorporate it.
Also, I was thinking that to reduce the space it takes up, do we add a dropdown or rather accordion like feature, to the parent headings. Like, across the 1.0 point we can have an arrow. If the arrow is downside, that means we can click it and reveal with the children components like 1.1, 1.2 here and the arrow turns upwards. This

[2022-03-14 18:31] jwflory commented on #16
@Yavnikaa I like the idea of using an accordion. I am keen to see an early prototype/mockup to visualize your idea. Could you share a mockup preview and upload it as an image to this issue? If we are aligned on its design, then you can put the code together for it.

[2022-03-14 19:29] Yavnikaa commented on #16
![image](https://user-images.githubusercontent.com/56485761/158246029-e9c8571d-29d7-42ed-8ad6-e5791f9d8427.png)

This is what I have been thinking. Does this look fine? Looking forward to the feedback ^.^

Also, I was browsing through the code and as per what I understand, I to edit the toc there must be a file within `layouts/partials/` , by the name of toc.html but I couldn't find one. So, could

[2022-03-14 19:56] mmldco commented on #30
HI @jwflory, I'd like to keep working on this.

[2022-03-14 21:10] Yavnikaa commented on #16
Yes, you are right about opening the first on default in large width devices, and keeping it closed on mobile screens. Thankyou for approving the design so quickly! :)

Also, though I got the concept that we have kept preserveTOC as true in our website and hence `asciidoctor` is handling on its own, but I'm still confused about where do the css classes come from? As far as I could figure out, it i

[2022-03-15 05:37] janvi01 commented on #59
Hello, @jwflory I have set up as mentioned, please have a look. Thanks!

<img width="1440" alt="Screenshot 2022-03-15 at 11 04 29 AM" src="https://user-images.githubusercontent.com/34344234/158313652-928e6639-f676-4ff3-b777-e6092aa511b9.png">

[2022-03-15 09:33] steph237 commented on #61
hey.... I followed the instructions and I could see my user name in the browser tab
Forked Github repo: https://github.com/steph237/inventory-hugo-theme-1.git
Feature Branch : https://github.com/steph237/inventory-hugo-theme-1/tree/newSteph
I have completed all three tasks and I will be waiting if there's anything else i can do

[2022-03-15 10:27] BeeBombshell commented on #62
Hi @jwflory, I made some changes in the `config.yaml` file, and hence the `highlight` function works fine. However, if a user manually changes the `lineNumbersInTable` parameter, then the lines of code do not match up to the line numbering.

After I changed the default values in the `config.yaml` file, the code looks like this:

<img width="446" alt="image" src="https://user-images.githubuserconte

[2022-03-15 10:39] BeeBombshell commented on #62
Further, I was looking at how to reduce the spacing between the code lines. There is no parameter in the `highlight` function to deal with this as such. I found a solution in the Hugo Forums suggesting some changes in the newline characters in the MD file.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/53828745/158359773-de0504e3-4f7b-4e2e-ad47-7b316df01ac4.png">

Lin

[2022-03-15 12:33] jwflory commented on #61
Thanks @steph237, nice work 👍🏻 Using a feature branch as the workflow for submitting contributions will make collaboration easier. You're all set to take on your first code task. The best practice, for now, is to look at the issues labeled as [`I: good first issue`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3Aissue+is%3Aopen+label%3A%22I%3A+good+first+issue%22) and/or [`I: help wa

[2022-03-15 12:57] #33 closed

[2022-03-15 13:45] Yavnikaa commented on #16
Ahh, alright, Seems quite interesting!
Now I can appreciate the structure and the flow clearly and it makes sense to me that modifying the existing structure of TOC. So, I think its [this file](https://github.com/asciidoctor/asciidoctor/blob/main/src/stylesheets/asciidoctor.css) which needs to be worked upon. I hope I have got it right this time.
But here, I have a small doubt. The accordion would

[2022-03-15 15:22] BeeBombshell commented on #62
@jwflory I tried changing the parameters in different combinations. Also, I tried using the `highlight` block without the inline CSS style which led to the following outcome...

<img width="456" alt="image" src="https://user-images.githubusercontent.com/53828745/158410102-b8894621-7649-4372-ba45-caee1ffb9ef7.png">

However, the problem is that without the inline CSS, the code block doesn't recogni

[2022-03-15 16:35] jwflory commented on #16
Not quite. The CSS needs to be defined in the site CSS stylesheet, see [here](https://github.com/unicef/inventory-hugo-theme/blob/main/assets/css/style.css). This is the custom stylesheet we use. You can add styles for the given CSS classes there.

Ah, I understand why you ask now. No, it will not be easy to add JavaScript in. The closest you can get to modifying this is wrapping around the `.Cont

[2022-03-15 17:53] BeeBombshell commented on #62
@jwflory Kindly review... 😊

[2022-03-16 11:58] Yavnikaa commented on #16
Ahh, thanks for helping me understand.
I'll do the needful and raise the PR by EOD! :))

[2022-03-16 22:33] mmldco commented on #59
My submission
![Screenshot 2022-03-11 at 2 31 21 AM](https://user-images.githubusercontent.com/69677286/158701030-0a85c2e2-4ca5-492b-bb33-c5248205c364.png)

[2022-03-16 22:47] mmldco commented on #60
My submission

![Screenshot 2022-03-17 at 1 46 55 AM](https://user-images.githubusercontent.com/69677286/158703731-c7793b0d-f066-4ce3-a12b-7be8bbca32a8.png)

[2022-03-16 22:58] mmldco commented on #61
My Submission

Forked Repo: https://github.com/mmldco/inventory-hugo-theme
Feature Branch: https://github.com/mmldco/inventory-hugo-theme/tree/outreachy

[2022-03-17 08:35] Neha9849 commented on #59
Here is mine
![image](https://user-images.githubusercontent.com/85057583/158769252-5cd0eb17-535e-4a95-be59-766e539a2ead.png)

[2022-03-17 08:54] Neha9849 commented on #60
Here is mine

![image](https://user-images.githubusercontent.com/85057583/158772743-85a3b36e-f05e-44df-9780-c6ba9fd6a613.png)

[2022-03-17 10:42] roli25 commented on #59
Hello @jwflory
I have followed the instructions.
Kindly have a look.
![Screenshot (456)](https://user-images.githubusercontent.com/59510531/158792323-fc951f24-61af-4141-bd44-cef12f56e11d.png)

[2022-03-17 11:48] jwflory commented on #59
@mmldco @Neha9849 @roli25 All looks right, thanks for following up here!

[2022-03-17 11:49] jwflory commented on #60
Thanks @mmldco and @Neha9849, looking good 👍🏻

[2022-03-17 11:53] jwflory commented on #61
Thanks @mmldco, you're all set! 👍🏻 One tip: don't forget to periodically update your fork's `main` branch with new commits added to the UNICEF `main` branch. You can do that most easily by checking out and pulling changes:

[code]

Alternatively, you can add this repo as a remote to make it easier:

[code]

[2022-03-17 11:54] jwflory commented on #16
Thanks @Yavnikaa! I will work on reviewing your PR today.

[2022-03-17 12:19] roli25 commented on #60
Completed Task 2 @jwflory
![Screenshot (457)](https://user-images.githubusercontent.com/59510531/158806992-54a21577-9856-4285-a0fb-d157c21057ab.png)

[2022-03-17 18:05] Yavnikaa commented on #64
May I work on this? I'll craft an icon set which can be used consistently for all the admonitions.

[2022-03-17 18:19] gnikita432 commented on #59
Hii @jwflory  I have cloned the repository and set it up in my local environment and made the changes mentioned.

![image](https://user-images.githubusercontent.com/61223163/158869315-41205cc2-ec99-4a19-973c-ee95d303f29a.png)
Thank you!

[2022-03-17 23:22] jwflory commented on #59
@gnikita432 Looks good! 👍🏻

[2022-03-17 23:23] jwflory commented on #60
@roli25 Looks good here 👍🏻

[2022-03-17 23:27] jwflory commented on #64
@Yavnikaa Sure, you can start working on this one 👍🏻 Curious to know what icon set you go with. We should use an open source set where possible.

[2022-03-18 15:34] #16 closed

[2022-03-18 15:36] #62 closed

[2022-03-18 16:18] BeeBombshell commented on #63
Hi @jwflory, can I work on this issue? 😊

[2022-03-18 17:57] jwflory commented on #63
@BeeBombshell Sure, you can take this one up 👍🏻

Note that for the icon set used, you will need to coordinate with @Yavnikaa with her change for #64. You can still work on styling the alert box and customizing the HTML, but stay posted for the common icon set to use for both types of admonitions.

[2022-03-18 18:53] Yavnikaa commented on #64
I followed the steps indicated above and came up with a design for the admonition block. I prepared these two iterations:

![image](https://user-images.githubusercontent.com/56485761/159065892-7360189b-8e5b-4e1c-9014-9dd70ddf1fd1.png)

![image](https://user-images.githubusercontent.com/56485761/159065939-c85e1b36-972c-4d85-ac5f-7ec2a24d37bc.png)

I found the second-one more attention seeking and h

[2022-03-18 19:47] jwflory commented on #64
@Yavnikaa Thanks for the mockups. I agree the second one has better contrast. Your sample set is a great model for what this should look like. 👍🏻

Feather Icons look nice too! When adding them, let's make a note in the _Legal_ section of the README. It can go in a new list titled _Attributions_ with name and URL.

Go ahead with the implementation, looking forward to seeing your Pull Request! Have

[2022-03-18 19:56] jwflory commented on #63
@BeeBombshell This looks on the right track. You can also reference this sample set put together by @Yavnikaa in #64:

![Sample set of admonitions with logo, from Yavnika in Issue #64](https://user-images.githubusercontent.com/4721034/159073920-6671e001-4dd3-402e-84a7-1a82254b8656.png "Sample set of admonitions with logo, from Yavnika in Issue #64")

Since the work started on #63 and #64 at about

[2022-03-18 20:25] BeeBombshell commented on #63
@jwflory For creating the admonition, I've used the previously installed plugin `Themify Icons`. I'm creating a PR with my design for the `NOTE` admonition. Kindly take a look... Enjoy your weekend! 😄

[2022-03-18 20:30] Yavnikaa commented on #64
![Screenshot (219)](https://user-images.githubusercontent.com/56485761/159078879-a694e5ff-9934-41fd-aded-fb56bd3330d7.png)

Just a little confirmation here. Since the blocks currently follow a table structure, changing only the CSS won't do to match our design. Can I alter the html structure as well in the layouts section ?

[2022-03-18 20:38] jwflory commented on #35
I opened this issue up as `help wanted` and listed it as an Outreachy mini project.

[2022-03-18 20:38] jwflory opened #76 "[mini project] Complete a user interface overhaul of DPG Report Card layout"
_Note: This is a mini project intended for Outreachy May 2022 round applicants. This task is more advanced and will take more time to complete during the contribution period._

# Summary

Complete a design exercise to redesign the DPG Report Card layout, implement the design, and create 4-5 profiles on the production site using the layout.

# Background

**Is the new feature related to a problem?

[2022-03-18 20:49] Yavnikaa commented on #63
Hey @BeeBombshell ! I have a little doubt. Is your PR changing the exact admonition block we are talking about? How did you handle the table structure and capitalising the hardcoded text of the admonition block (attaching screenshot of what I'm talking about)

![image](https://user-images.githubusercontent.com/56485761/159081202-3f60071a-70ed-484a-bb37-3bc9f2fe5077.png)

[2022-03-18 21:18] jwflory opened #77 "[mini project] Forms 2.0 with data template"
_Note: This is a mini project intended for Outreachy May 2022 round applicants. This task is more advanced and will take more time to complete during the contribution period._

# Summary

Devise a new way to dynamically create forms with different questions, response types, and config options from a YAML data template.

# Background

**Is the new feature related to a problem? Describe the problem*

[2022-03-19 07:32] BeeBombshell commented on #63
@Yavnikaa I was going through the `shortcodes` when I found the `notice` class. Currently, it has three custom admonitions - **Note**, **Tip**, and **Info**. Each admonition has its separate styling in the CSS file. I customized the CSS file to meet the required design...

However, I too was a little confused as to why there existed a different shortcode class by the name `notice`. This class can

[2022-03-19 07:37] Neha9849 commented on #61
Hey! I Followed your instructions and here is my submission -
Forked repo : https://github.com/Neha9849/inventory-hugo-theme
Feature Branch : https://github.com/Neha9849/inventory-hugo-theme/tree/changing-title

[2022-03-19 09:14] gnikita432 commented on #60
Hey, @jwflory  I have completed task 2.
Here is the screenshot
![image](https://user-images.githubusercontent.com/61223163/159115146-916cfc7f-6b5a-490d-a7ac-d7f6c83e1a53.png)
Thank you!

[2022-03-23 07:10] Neha9849 commented on #64
@jwflory @Yavnikaa As we already have shortcodes for the note, tip, info and warning admonitions in our theme as `notice`. I think they look great and will also give impact on the user.
Here is a Screenshot of what i am talking about-

![image](https://user-images.githubusercontent.com/85057583/159642008-55c2eb56-d11d-48e2-8a4c-49fae8b1ead5.png)
We can either go with this styling and add the addit

[2022-03-23 09:56] Neha9849 commented on #76
I would like to work on this issue. But some things are not clear for me. Wishing to learn more about this from you.

[2022-03-24 06:42] Yavnikaa commented on #35
Can I take it up as a mini project to work on?

[2022-03-24 08:03] AbihaFatima commented on #59
Hey @jwflory, I made the required changes as per the instructions mentioned above.
Please take a look! Thanks
![image](https://user-images.githubusercontent.com/70844041/159869116-a25585bd-c525-461f-afe7-bd43f347d847.png)

[2022-03-24 11:51] AbihaFatima commented on #60
Hey @jwflory! Completed Task#2
My Submission:
![image](https://user-images.githubusercontent.com/70844041/159910426-b9058066-8859-49b2-9172-988b21a6fa44.png)

[2022-03-26 07:44] Biki-das commented on #59
hey could anyone guide me a little bit, i am stuck with some error , when i try to run the site i get a config error, could anyone help me with the steps they followed to setup the project?

[2022-03-26 10:42] Idadelveloper commented on #59
Since the `config.yml` file is missing you can create a new file at the repo's root and call it `config.yml`.
Copy and paste this and make the necessary edits.

[code]

[2022-03-26 12:37] reeshi-18 commented on #60
![image](https://user-images.githubusercontent.com/77070824/160239761-821d1663-e973-4c43-92f3-2295ecfe403d.png)

[2022-03-26 12:38] reeshi-18 commented on #60
![image](https://user-images.githubusercontent.com/77070824/160239784-16b98575-9b64-4660-b59c-f03ca6d05fda.png)

[2022-03-26 12:43] reeshi-18 commented on #59
![image](https://user-images.githubusercontent.com/77070824/160239993-dc4aeeb6-f959-479a-bb12-a51b4465c9ee.png)

[2022-03-26 13:00] reeshi-18 commented on #61
hi @jwflory @Idadelveloper completed all three tasks!
Feature branch: https://github.com/reeshi-18/inventory-hugo-theme/tree/reeshi
Forked repo: https://github.com/reeshi-18/inventory-hugo-theme

[2022-03-26 13:05] reeshi-18 commented on #77
@jwflory @Idadelveloper I want to take up this issue to record my contribution for Outreachy! Please assign this issue to me!

[2022-03-26 14:59] yaya-usman commented on #77
@jwflory I am also interested in this issue, can I get assigned?

[2022-03-26 19:36] AbihaFatima opened #78 "Icons and hyperlinks in the footer are not visible while hovering."
# Summary

While navigating through the [inventory-hugo-theme](https://unicef.github.io/inventory-hugo-theme/) website, in the footer the icons of GitHub and Twitter become invisible while hovering over it. Same happens with the hyperlink in the copyright section.

# Background

**Is the improvement related to a problem? Describe the problem**:
It becomes difficult to see the icons and the hyperli

[2022-03-26 19:37] AbihaFatima commented on #78
@jwflory @Idadelveloper
Can I work on this?

[2022-03-26 19:42] Biki-das commented on #59
hello @Idadelveloper i have followed your instruction as you said but my image assests are not loading
![START HERE!  Outreachy #1_ Set up a development environment with the UNICEF Inventory example site · Issue #59 · unicef_inventory-hugo-theme - Google Chrome 3_27_2022 1_10_54 AM](https://user-images.githubusercontent.com/72331432/160254744-24438be0-0b22-448a-b9a8-71b5a176b78d.png)

[2022-03-26 19:45] Biki-das commented on #78
hey @AbihaFatima could you give me some pointers on how to setup the dev enviroment

[2022-03-26 20:33] AbihaFatima commented on #78
Hey @Biki-das!
Hope you have installed Hugo, if not then checkout this [installation guide](https://gohugo.io/getting-started/installing/).
After that follow the steps mentioned here in #59.

P.S: you must be facing this error while running `hugo serve` as I encountered it too while setting up the development environment:
[code]
for that `cd exampleSite` then to run the server use the command `hug

[2022-03-26 20:57] Hydriah commented on #59
hello @Idadelveloper @jwflory  i just completed my setup
![Screenshot from 2022-03-26 21-47-42](https://user-images.githubusercontent.com/89812240/160256757-4cee6655-8f1a-4124-a379-1ba2d5312cd6.png)
[

[2022-03-26 21:01] bl-aire commented on #59
Hello,

I have the same problem while setting up mine. My first guess was that the images weren't referenced properly but every attempt to fix it has failed so far

[2022-03-27 04:18] yokwejuste opened #79 "https://github.com/unicef/inventory-hugo-theme/blob/main/sample_config.yaml"
# Summary
On clicking on the [sample config](https://github.com/unicef/inventory-hugo-theme/blob/main/sample_config.yaml) link found out not to be existing.

# Background
I think you should solve it! Not nice leaving it that war

[2022-03-27 06:20] Neha9849 commented on #79
I think we should replace the above link in the Readme file with this https://github.com/unicef/inventory-hugo-theme/blob/main/exampleSite/config.yaml
@Idadelveloper what do you think?

[2022-03-27 06:41] Kemifrank commented on #78
Please can I work on this

[2022-03-27 08:31] BeeBombshell commented on #65
Hi @jwflory, I'd like to work on this issue. I wish to propose similar changes as mentioned in PR #75. 😄

[2022-03-27 08:34] barcha47 commented on #78
Hi @jwflory, i am Outreachy applicant, can i work on this issue, as it meets my skills, plus i need little guidance envrioment becasue i am new here. thanks

[2022-03-27 10:13] anu-phoenix commented on #59
![image](https://user-images.githubusercontent.com/76680350/160276642-dc491397-5d3d-4d22-9209-4e24d5984b21.png)

Hi! I followed the instructions and this is the output.
Please have a look! I hope its correct :)

[2022-03-27 12:42] chaitri19 commented on #59
Hello,
I followed the instructions and below is my output. Please give me a feedback if something is wrong.
![Outreachy](https://user-images.githubusercontent.com/85275171/160281829-5354b6c1-3b6e-48c8-874e-70585d2208a8.png)

[2022-03-27 12:45] bl-aire commented on #59
Hello @jwflory, I was able to solve the problem I had earlier. This is the result.

![Capture](https://user-images.githubusercontent.com/84882370/160281945-135d28bd-878c-4e84-9cac-bba38ff94fe9.PNG)

[2022-03-27 12:46] Hydriah commented on #60
Hi  @jwflory @Idadelveloper! Completed Task#2
![Screenshot from 2022-03-27 13-31-56](https://user-images.githubusercontent.com/89812240/160281958-78864e09-e80a-43b9-b5f0-76ebbfb8dc65.png)

[2022-03-27 14:06] kbetty commented on #59
Hello @jwflory while doing my first challenge in the world of open source development got an error and am a bit stuck.
What have done:

I have followed keenly the instruction in the issue [above](https://github.com/unicef/inventory-hugo-theme/issues/59#issue-1165503576).

And after making the suggested changes, navigated into the my local repo using cd command and run the command _hugo serve_ and

[2022-03-27 14:42] chaitri19 commented on #59
I was getting same error but then it was resolved using hugo server --theme
../../

On Sun, 27 Mar 2022, 19:36 Betty Mirembe, ***@***.***> wrote:

[2022-03-27 14:53] Abbiefied commented on #59
Hello @jwflory , I just completed the first issue
![Unicef First Issue](https://user-images.githubusercontent.com/88349524/160287266-db93b3bf-bc88-4707-87d5-c819f5627c7f.png)

[2022-03-27 14:57] Abbiefied commented on #59
Hello @jwflory , I just completed the first issue.
![Unicef First Issue](https://user-images.githubusercontent.com/88349524/160287439-847bc7e8-4b25-471d-85a7-c373044bf107.png)

[2022-03-27 15:00] Abbiefied commented on #59
Hello @jwflory , I just completed the first issue.
<img width="960" alt="First issue" src="https://user-images.githubusercontent.com/88349524/160287539-c589ac6e-9e4c-4d88-839d-4020e97c3c54.png">

[2022-03-27 15:00] kbetty commented on #59
When I use `hugo server --theme ../../` I get this error
[code]

[2022-03-27 16:35] siddharth628 commented on #59
Hi @jwflory, It's done.
<img width="1440" alt="Screenshot 2022-03-27 at 10 02 10 PM" src="https://user-images.githubusercontent.com/73435365/160291345-fec97995-57b4-4c82-adce-a9c671a39ba0.png">

[2022-03-27 20:24] sidd-oo commented on #59
![image](https://user-images.githubusercontent.com/25115188/160299138-9d5f9cc0-2d7e-4353-ae22-61ad3b261385.png)
Hey @jwflory @Idadelveloper, I have been successful in changing the title and the background colour but my screenshot looks a bit different from others. Can you guide me on what I am doing wrong and how can I fix it?

[2022-03-27 20:30] anu-phoenix commented on #59
Hello! I was having the same error u can resolve this by running `hugo server --theme ../../` in  original repo after `cd exampleSite`

[2022-03-27 20:45] sidd-oo commented on #59
![image](https://user-images.githubusercontent.com/25115188/160300182-4a95bf1c-119f-4648-acde-bcda8eec839e.png)

Thank you for offering me help @anu-phoenix I tried `hugo server --theme ../../` inside the `exampleSite` directory but this time I am getting `404 page not found`  error on live preview. What I am doing wrong here, any idea?

[2022-03-27 21:10] anu-phoenix commented on #59
Use link [http://localhost:1313/inventory-hugo-theme/](http://localhost:1313/inventory-hugo-theme/)

[2022-03-27 21:21] bl-aire commented on #59
![image](https://user-images.githubusercontent.com/84882370/160301465-508f3f0d-244e-4563-8bae-7dc8b91465a0.jpeg)

I had similar issues. Entering the url I marked in my browser instead of localhost:1313 fixed it.

[2022-03-27 21:57] bl-aire commented on #60
Hello @jwflory, I have completed this task. A picture is attached below.

![blaire](https://user-images.githubusercontent.com/84882370/160302675-c5413159-2678-4e1c-8675-47c1d6ce4fa5.PNG)

[2022-03-27 23:22] paydendyer commented on #59
![Screen Shot 2022-03-27 at 6 17 52 PM](https://user-images.githubusercontent.com/63562333/160305574-28ad71b8-7fcc-44e9-8573-8a93ef982568.png)

Hi I have cloned the repository and set it up in my local environment and followed the instructions to make changes.

[2022-03-27 23:56] RuthAtem commented on #59
Hi Everyone. Glad to be here and contribute. Successfully set up and made changes for Step One
![Screenshot from 2022-03-28 00-50-00](https://user-images.githubusercontent.com/40384565/160306689-161fd6cd-163e-42e0-b68a-bd8dd6cd601c.png)
.

[2022-03-28 04:55] yokwejuste commented on #59
Hey here! happy to contribute here! successfully set up enviornment.

![Screenshot from 2022-03-28 05-55-09](https://user-images.githubusercontent.com/71908316/160329052-d2f82f20-642d-46f1-ba0d-739299966c1b.png)

[2022-03-28 06:26] kbetty commented on #59
Finally the development set up is up and running after landing into different errors
![Screenshot from 2022-03-28 09-16-04](https://user-images.githubusercontent.com/98093730/160337561-6b48ac18-6feb-4257-bd37-8699f5927dd9.png)

@jwflory @Idadelveloper here is my finding why the server may fail to start. I noticed that the two files located at https://github.com/unicef/inventory-hugo-theme/tree/mai

[2022-03-28 08:00] Biki-das commented on #59
@jwflory setup done :-)
![download](https://user-images.githubusercontent.com/72331432/160353126-3ffd5623-84c5-4748-9653-d1c653b7f2d3.jpg)

[2022-03-28 10:10] siddharth628 commented on #60
@jwflory, it's done.
<img width="1440" alt="Screenshot 2022-03-28 at 3 39 20 PM" src="https://user-images.githubusercontent.com/73435365/160376292-33ccf005-498f-4b39-93da-77442ee20e35.png">

[2022-03-28 10:58] RuthAtem commented on #60
Done
![Screenshot from 2022-03-28 11-56-57](https://user-images.githubusercontent.com/40384565/160383908-a80785a3-70fb-456c-af6a-c8226722af8e.png)

[2022-03-28 11:47] RuthAtem commented on #61
Hello, again @jwflory @Idadelveloper. I have completed the 3 initial tasks. n the browser tab bar, I can see my GitHub username instead. It was fun setting up.
Links to my:
Forked repo: https://github.com/RuthAtem/inventory-hugo-theme.git
Feature branch: https://github.com/RuthAtem/inventory-hugo-theme/tree/dev

[2022-03-28 13:01] Lukong123 commented on #59
![start_unicef](https://user-images.githubusercontent.com/70434467/160403128-568576b3-d6a9-4009-a919-955df8eeeedc.png)
@jwflory @Idadelveloper here's my screenshot.

[2022-03-28 15:19] Idadelveloper commented on #59
cd into the exampleSite directory, make the necessary edits in confid.yml and run hugo serve

[2022-03-28 15:36] bl-aire commented on #69
Can I work on this please?

[2022-03-28 17:53] bl-aire commented on #61
Hello @jwflory

I followed the instructions stated above and I have completed this task. The links to my forked repository and feature branch are here:
Repository: https://github.com/bl-aire/inventory-hugo-theme
Git feature branch: https://github.com/bl-aire/inventory-hugo-theme/tree/task_three

[2022-03-28 18:08] ElHombreMorado8 commented on #59
I made it work using hugo server --theme ../../ from exampleSite folder
![image](https://user-images.githubusercontent.com/86472204/160459716-2cd26e7a-d849-40fd-908a-93339a098864.png)

[2022-03-28 18:40] ElHombreMorado8 commented on #60
It's done

![image](https://user-images.githubusercontent.com/86472204/160464798-d4f9b916-32aa-41f0-8b4d-69116037e13b.png)

![image](https://user-images.githubusercontent.com/86472204/160464510-1a8b67e9-880a-4c3e-8df3-500e37c422d8.png)

[2022-03-28 19:15] ElHombreMorado8 commented on #61
- Repository: https://github.com/ElHombreMorado8/inventory-hugo-theme
- Git feature branch: https://github.com/ElHombreMorado8/inventory-hugo-theme/tree/example_branch

[2022-03-28 19:27] ElHombreMorado8 commented on #34
@jwflory Can I work on it?

[2022-03-28 19:57] yokwejuste commented on #78
https://github.com/unicef/inventory-hugo-theme/pull/81

[2022-03-28 20:04] yokwejuste commented on #71
the link [/layouts/shortcodes/table.html](https://github.com/layouts/shortcodes/table.html) not working. The return is a 404.

[2022-03-29 08:15] barcha47 commented on #59
Hello there i am having trouble  in step 4:
when i entered 'hugo serve' command from inside **inventory-hugo-theme** folder in the terminal, i get "**Error: Unable to locate config file or config directory. Perhaps you need to create a new site.
       Run `hugo help new` for details.**" error.
Then i tried doing same command from inside "**exampleSite** folder where config file is located, but ge

[2022-03-29 08:24] barcha47 commented on #59
Hello there i am having trouble in step 4:
when i entered '**hugo serve**' command from inside **inventory-hugo-theme** folder in the terminal, i get "**Error: Unable to locate config file or config directory. Perhaps you need to create a new site.
Run hugo help new for details**" error.
Then i tried doing same command from inside "**exampleSite**" folder where **config file** is located, but gett

[2022-03-29 08:45] sidd-oo commented on #59
I have fun working on this, Kindly Check @jwflory @Idadelveloper
![image](https://user-images.githubusercontent.com/25115188/160571607-1dc161f9-df46-44c5-ad92-3e2326087bc8.png)

[2022-03-29 09:20] chaitri19 commented on #60
@jwflory it's done
![Outreachy-1](https://user-images.githubusercontent.com/85275171/160578906-19baeceb-dca0-47ef-862d-557b438a4db6.png)

[2022-03-29 11:44] EmmanuelOloke commented on #59
Hugo installed and the server is running without issues. @jwflory @Idadelveloper

<img width="1440" alt="Screenshot 2022-03-29 at 12 38 48" src="https://user-images.githubusercontent.com/16335826/160603385-79d48b92-6384-45ea-8d7e-2044edf20b82.png">

[2022-03-29 12:30] bl-aire commented on #28
Can I work on this? I don't understand it totally yet but I'm willing to research and learn as I work.

[2022-03-29 12:35] EmmanuelOloke commented on #60
Hello, @jwflory @Idadelveloper. Task 2 is completed, find attached the screenshot below.

<img width="1440" alt="Screenshot 2022-03-29 at 13 33 30" src="https://user-images.githubusercontent.com/16335826/160612308-5737231a-9f9c-4744-a8e7-180a43d89aee.png">

[2022-03-29 13:23] barcha47 commented on #59
Hello @jwflory @Idadelveloper , I just completed setup.
![1](https://user-images.githubusercontent.com/66128370/160620723-21932ffb-0dec-4834-b5da-e941fdf39936.PNG)

[2022-03-29 17:27] barcha47 commented on #77
@jwflory , if this issue is still open then please assign it to me. thanks

[2022-03-29 21:58] barcha47 commented on #60
Hello @jwflory  i am having little trouble, please take a look. when i try to run hugo server, my local host direclty leads to pervious cloned repo, i can't open different site via hugo.
![2](https://user-images.githubusercontent.com/66128370/160713820-9f29f820-1b7b-4729-8795-514f9b34d7f2.PNG)

[2022-03-30 03:22] jwflory commented on #59
@AbihaFatima @reeshi-18 @Abbiefied @siddharth628 @paydendyer @RuthAtem @yokwejuste @kbetty @Biki-das @Lukong123 @JessWillCode @ElHombreMorado8 @sidd-oo @EmmanuelOloke @barcha47

Thanks all, you are good to go here 👍🏻 I'm not sure if there is a limit to the number of assignees to a GitHub Issue, but I'll try here and see how many folks I can add. If you have not already, please proceed to work on t

[2022-03-30 03:27] jwflory commented on #59
GitHub caps assignees per issue at ten people. We'll use comments to track completion. All three onboarding activities are something to document in your final application for Outreachy.org.

As a follow-up to many questions in this issue, the best way to run the example theme site is to change directories to `exampleSite/` in the project, and then run `hugo serve`. Doing it this way should avoid i

[2022-03-30 03:57] jwflory commented on #60
@gnikita432 @AbihaFatima @Hydriah @bl-aire @siddharth628 @RuthAtem @ElHombreMorado8 @chaitri19 @EmmanuelOloke Looks good, nice work! 👍🏻 You're clear to take on the third onboarding issue if you have not already. As I said in the previous issue, GitHub only lets me assign ten people to one issue, but that isn't a key metric used here anyways.

@reeshi-18 I see your screenshot of the Profiles, but w

[2022-03-30 04:04] jwflory commented on #61
@Neha9849 @AbihaFatima @reeshi-18 @RuthAtem @bl-aire @ElHombreMorado8 Everything looks good! You're all complete with the onboarding tasks and you can take on a more advanced issue. I know many of you have commented on other issues and I'm working on catching up this week.

You are also welcome to propose your own issues as feature requests or bug reports if there are improvements you think could

[2022-03-30 04:46] #57 closed

[2022-03-30 04:47] jwflory commented on #57
@Neha9849 completed this one in PR #80. 🙌🏻  Neha, could you add a comment here so I can assign the issue to you? It will make it easier for me to keep up with contributions over the next month.

[2022-03-30 04:56] Neha9849 commented on #57
@jwflory I am glad that u merged my PR :)

[2022-03-30 05:06] jwflory commented on #78
@AbihaFatima Thanks for opening this issue. This is a good catch and something that also bothered me about the footer. Apologies I wasn't able to follow up sooner here. I will add more clear contributing guidelines about raising new issues and claiming a task to work on.

For now, we will work on @yokwejuste's Pull Request #81 for this issue. More changes are needed before moving it forward. I'll

[2022-03-30 05:09] jwflory commented on #76
@Neha9849 Thanks for your patience with a follow-up. You can take this one on; I'll assign it to you in the meantime.

What questions do you have, or is anything specifically unclear to you? I can share more general information, but it will help to better understand what is unclear to you.

[2022-03-30 05:15] jwflory commented on #35
@Yavnikaa Certainly! You can take this mini-project on for the application period. Do you feel like you have the information you need to make the first steps on this, or is there any additional guidance I can provide? This task will take some user research to get going.

The first milestone for this issue would be a wireframe/mockup of the general profiles, along with an example of the data struct

[2022-03-30 05:24] jwflory commented on #63
Some important sleuthing happened here! There are some untouched parts of the theme like these shortcodes. 😅 The shortcodes for _Note_, _Tip_, _Info_, and _Warning_ already exist and also give us greater control over the HTML structure. Since these shortcodes can be used for any kind of content (e.g. Markdown or Asciidoc), they seem like the superior choice for creating and managing these admoniti

[2022-03-30 05:25] #63 closed

[2022-03-30 05:27] jwflory commented on #65
Per the [note in #63](https://github.com/unicef/inventory-hugo-theme/issues/63#issuecomment-1082635183) and the change in scope, I am closing this issue as `wontfix` and we can instead add new admonitions for #64 and #66.

[2022-03-30 05:27] #65 closed

[2022-03-30 05:28] jwflory commented on #67
Per the [note in #63](https://github.com/unicef/inventory-hugo-theme/issues/63#issuecomment-1082635183) and the change in scope, I am closing this issue as `wontfix` and we can instead add new admonitions for #64 and #66.

[2022-03-30 05:28] #67 closed

[2022-03-30 05:36] jwflory commented on #79
@yokwejuste Thanks for pointing this out. I fixed where it is mentioned in PR #82, as pointed out by @Neha9849.

[2022-03-30 05:36] #79 closed

[2022-03-30 05:45] jwflory commented on #28
@bl-aire This issue is complex and will take time to implement. But there are some nice [new Hugo features](https://github.com/gohugoio/hugo/releases/tag/v0.91.0) that make it easier.

I think a good first step for this issue would be to try to hit the GitHub API from a test Hugo layout and see if you can grab different data from the GitHub API. I think data we will want about any Pull Request is

[2022-03-30 05:47] jwflory commented on #71
Thanks, I used a shortcut that doesn't seem to work with GitHub-flavored Markdown. I fixed the URL. It should have pointed here:

https://github.com/unicef/inventory-hugo-theme/blob/main/layouts/shortcodes/table.html

[2022-03-30 05:50] jwflory commented on #34
@ElHombreMorado8 Sure! This one is open. It will be a more advanced task because you will create a new layout for the Hugo theme.

Before getting into the details, let's start with a mockup or wireframe so we can visualize what this looks like together. Have you made one of these before, or do you have any prototyping experience? Do you use tools like Figma or Penpot?

[2022-03-30 05:53] jwflory commented on #69
@bl-aire Would you prefer this issue or #28? For the purposes of the Outreachy contribution phase, it is best if each applicant only takes on one issue at a time. I think this one is more approachable.

[2022-03-30 05:57] jwflory commented on #77
@reeshi-18 You can lead on this one 💪🏻 I'll assign it to you. Do you feel like you have the information you need to move forward? Do you have any clarifying questions? Let me know how I can help you to be successful in starting. The first major milestone we want to work towards is a mockup or wireframe of the proposed design for the new forms.

@yaya-usman @barcha47 Thanks both for your interest,

[2022-03-30 06:01] jwflory commented on #64
@Neha9849 Yeah, this was the key question! I was naïve to open the issues. It happens though! As I explained in [my note in #63](https://github.com/unicef/inventory-hugo-theme/issues/63#issuecomment-1082635183), I think we should stick to using the shortcodes.

@Yavnikaa Could we pass this issue to @BeeBombshell to work on while you tackle #35? I think this will help keep everyone working on somet

[2022-03-30 06:15] Yavnikaa commented on #64
Yes sure. No issues! :))

[2022-03-30 06:19] Yavnikaa commented on #35
Sure, I'll start off and ping you whenever I face any issues. For the user research and feedback can I use the matrix room to connect with other users and community members?

[2022-03-30 06:22] jwflory commented on #64
Thanks, @Yavnikaa!

@BeeBombshell, shall I assign you for #64 and #66?

[2022-03-30 06:25] jwflory commented on #35
👍🏻

You can use the Matrix room for clarifying questions and for help with working with Hugo. But we will socialize the mockup/wireframe with some other stakeholders outside of the Matrix room, most likely here in this GitHub Issue. There are some specific folks who may use this feature in a downstream site, so we will solicit their input on the proposed design before moving to the code and implem

[2022-03-30 06:52] BeeBombshell commented on #64
Sure @jwflory! I'll start working on them right away! 😄

[2022-03-30 07:28] BeeBombshell commented on #64
@jwflory I've added the shortcodes for both the `IMPORTANT` and `CAUTION` admonitions and changed the stylesheet to match the existing designs. The outcome is as follows:

<img width="639" alt="image" src="https://user-images.githubusercontent.com/53828745/160775632-cddda3d7-d865-4458-84ce-b4f90219233d.png">

[2022-03-30 08:10] bl-aire commented on #69
I would love to start with this. While I am at it, I will research about GitHub REST API and how I can approach #28

[2022-03-30 08:16] bl-aire commented on #28
It makes sense. I have always been curious about how API's work but I've never had the opportunity to build or work with one. This would be an amazing learning experience for me so I am willing to start researching while I work on #69.
So when I am done I will attempt it.

But while learning, if I come across any problems, I will reach out for help.

[2022-03-30 09:26] barcha47 commented on #60
Thank you @jwflory for clearing the concepts. Here's my task 2 completed.
![t2](https://user-images.githubusercontent.com/66128370/160798678-cb1b43b4-c4bc-44f7-801c-272d0cc8d8e2.PNG)

[2022-03-30 09:31] reeshi-18 commented on #77
@jwflory are the designs available or should I start working on the wireframes? Please let me know :)

[2022-03-30 10:13] Neha9849 commented on #76
@jwflory Will we Hardcode the data in the Report card ?
The Status and evidence fields in the report card should be dynamically updated.
So, How are we going to evaluate the status of a particular project? Is there any program that DPG provides to check the status?
Or do we evalute them manually and provide status and evidence?

[2022-03-30 10:55] Hydriah commented on #61
Hello,  @jwflory @Idadelveloper. I have completed the 3 initial tasks. here is
Links to my:
Forked repo: https://github.com/Hydriah/inventory-hugo-theme
Feature branch: https://github.com/Hydriah/inventory-hugo-theme/tree/review

[2022-03-30 12:31] jwflory commented on #61
@Hydriah Looks good, nice work! 👍🏻 You're ready to tackle your first development issue. The best practice, for now, is to look at the issues labeled as [`I: good first issue`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3Aissue+is%3Aopen+label%3A%22I%3A+good+first+issue%22) and/or [`I: help wanted`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3Aissue+is%3Aopen+label%3

[2022-03-30 12:48] jwflory commented on #69
@bl-aire Sounds good! Looking at the original issue comment, I think the second option explained under _Details_ is the most achievable solution. I could be wrong, but this is my hunch.

Do you feel like you have the information you need to move forward? Are there any questions I can clarify for you? Let me know how I can help you to be successful. 🙌🏻

[2022-03-30 12:49] jwflory commented on #60
@barcha47 Looks good! You're cleared to work on the third and final onboarding task 👍🏻

[2022-03-30 12:50] jwflory commented on #64
@BeeBombshell Amazing 💯 I'll review #83 by end of today U.S. Eastern time.

[2022-03-30 12:52] jwflory commented on #77
@reeshi-18 We don't have design patterns or Figma assets created yet (although that is an interesting idea). For now, you can start with the wireframe and we'll work from that to guide discussion about the implementation.

[2022-03-30 13:14] AbihaFatima commented on #78
No problem! Look forward to contributing more :)

[2022-03-30 13:37] kbetty commented on #60
Thanks @jwflory for the support. Am using Ubuntu 20.4 and the hugo version is:

[code]
I didn't have any older repository on my machine for inventory. Have been trying out different solution provided on stack-overflow but none of them is working for me.

[2022-03-30 14:27] jwflory commented on #78
I anticipate getting other challenging issues up within the next 1-2 days.

[2022-03-30 14:30] jwflory commented on #60
@kbetty Aha. This is an old version of Hugo that does not support localizations bundled in the theme. The current release of Hugo is v0.96.0. I suggest upgrading to the latest version of Hugo, and this issue will be resolved for you.

The approach I would take is to first uninstall the Ubuntu system package for Hugo, and then follow the instructions on the Hugo website to [install a binary](https:

[2022-03-30 15:13] bl-aire commented on #69
@jwflory Thank you.

I will give updates and ask questions when I get stuck as I make progress.

[2022-03-30 15:54] kbetty commented on #60
Thanks @jwflory for the guidance. Have followed it carefull and installed the newest hugo version v96.0. Then cloned a fresh repo and made the suggested changes and on running the command hugo serve, I get this error

[code]

[2022-03-30 16:02] ElHombreMorado8 commented on #34
Yeah I have some experience with Figma making prototypes

[2022-03-30 19:40] Abbiefied commented on #60
Hello @jwflory , I have completed the task
![image](https://user-images.githubusercontent.com/88349524/160917154-f4414553-c567-4876-8c9d-7dd2267cbfcb.png)

[2022-03-30 19:53] Abbiefied commented on #60
@kbetty I also got this error when I installed the binary directly without specifying the directory. I solved it by creating a folder **'Hugo'** in C: , then created two subfolders **'bin'** and **'Sites'** in the parent folder 'Hugo'. In the terminal, I changed my directory to /Hugo/bin then I installed hugo with this command **wget https://github.com/gohugoio/hugo/releases/download/v0.96.0/hugo_

[2022-03-30 21:52] barcha47 commented on #61
Hey @jwflory , I have completed all 3 initial tasks.
Hey are my links:
**Forked Repository:** https://github.com/barcha47/inventory-hugo-theme
**Git feature branch:** https://github.com/barcha47/inventory-hugo-theme/tree/barcha47

[2022-03-30 22:19] EmmanuelOloke commented on #61
Hello @jwflorym just completed this third issue. Below are the required links

Forked Repository: https://github.com/EmmanuelOloke/inventory-hugo-theme.git
Git Feature Branch: https://github.com/EmmanuelOloke/inventory-hugo-theme/tree/EmmanuelOloke-Unicef

[2022-03-30 23:00] barcha47 commented on #50
Hey @jwflory  I have completed all three initial tasks. PLease assign this to me if issue is still open.

[2022-03-31 04:57] jwflory commented on #60
@Abbiefied Looks good, thanks! 👍🏻 You're good to go here.

You can see the above advice if you are on Windows. But if you are on Linux as I suspect you are, this error might happen if you have not cloned the git submodule for the Open Source Inventory. This is in Step 2 of the above. If you have already cloned the repo but don't have the submodule ready, you can use these commands to install the g

[2022-03-31 05:01] jwflory commented on #61
@siddharth628 @barcha47 @EmmanuelOloke Nice work! You all are set to move on to another issue for contributing. The best practice, for now, is to look at the issues labeled as [`I: good first issue`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3Aissue+is%3Aopen+label%3A%22I%3A+good+first+issue%22) and/or [`I: help wanted`](https://github.com/unicef/inventory-hugo-theme/issues?q=is%3

[2022-03-31 05:02] jwflory commented on #69
Sounds good. If you are able to share an update by the end of the week, that will help keep things moving 👍🏻

[2022-03-31 05:14] jwflory opened #85 "Create common design resources and templates for prototyping and wireframing"
# Summary

Create a common library of design resources and/or templates to accelerate the speed of prototyping new changes.

# Background

**Is the new feature related to a problem? Describe the problem**: In the process of development, we usually start with a prototype or wireframe of the change to better understand its appearance and get everyone on the same page. The problem is, setting up a wi

[2022-03-31 05:15] jwflory commented on #34
Great. Let's go with a Figma prototype for the Download Portal. Then we can go through the prototype and share feedback once it is ready.

[2022-03-31 06:11] bl-aire commented on #69
I definitely will.

[2022-03-31 06:14] Abbiefied commented on #61
Hello @jwflory , I have completed task #3
Forked Repository : https://github.com/Abbiefied/inventory-hugo-theme.git
Git Feature Branch: https://github.com/Abbiefied/inventory-hugo-theme/tree/abbiefied

[2022-03-31 09:43] yokwejuste opened #87 "📝 🖊️Minor change to the mobile view"
# Summary
On trying the mobile view, noticed the navbar drop-down icon [☰](#) remains unchanged. Suggested that a feature like this should be brought to it as seen below.
![on-click-x](https://codemyui.com/wp-content/uploads/2017/03/menu-button.gif)
The feature looks cool and pretty nice.
# Background
As for now, the effect looks like this:
![on-click effect](https://user-images.githubusercontent.

[2022-03-31 11:51] yokwejuste commented on #60
I'm done with this task @jwflory
![Screenshot from 2022-03-31 12-47-52](https://user-images.githubusercontent.com/71908316/161048491-c4d0097b-6b61-43f5-91a8-1f9c87a9f71e.png)

[2022-03-31 13:07] yokwejuste commented on #61
Greetings @jwflory, still following up on issues. For now, I'm done with this one.

The Forked Repo:  https://github.com/yokwejuste/inventory-hugo-theme

The Git feature branch: https://github.com/yokwejuste/inventory-hugo-theme/tree/wise-branch

Any task available, feel free to assign me.

[2022-03-31 13:19] jwflory commented on #60
@yokwejuste Looks good, nice work! 👍🏻

[2022-03-31 13:22] jwflory commented on #61
Thanks @Abbiefied and @yokwejuste, looks good! See the previous instructions for the next steps.

[2022-03-31 13:25] jwflory commented on #87
@yokwejuste Seems like an interesting idea. It can be a small step towards improving the mobile experience. You can go ahead and take on this one, but make sure you first complete your ongoing work for #78 in PR #81.

[2022-03-31 13:30] yokwejuste commented on #87
@jwflory concerning #78 and #81 I just made some updates today! you can check them.

[2022-03-31 13:30] yokwejuste commented on #87
@jwflory concerning #78 and #81 I just made some updates today! you can check them.

[2022-03-31 13:41] ragini-gp commented on #59
![Screenshot (1567)](https://user-images.githubusercontent.com/97662858/161068162-b4b8d67d-ff0d-449b-95ea-ea74dcfae45e.png)

@Idadelveloper @jwflory I tried it, but I am not sure whether Home page was supposed to be added or not. Please let me know if any improvement needs to be done. Thanks in advance!

[2022-03-31 13:49] jwflory commented on #59
@ragini-gp Looks good, you can proceed to #60 👍🏻

[2022-03-31 14:51] siddharth628 commented on #85
@jwflory I'd like to work on this one. Please assign it to me.

[2022-03-31 14:51] siddharth628 commented on #85
@jwflory I'd like to work on this one. Please assign it to me.

[2022-03-31 16:58] ElHombreMorado8 commented on #34
I'm going to start working on it. I'll show you soon.

[2022-04-01 06:26] Yavnikaa commented on #35
I explored the given team profiles like this: https://unicef.github.io/inventory/cohorts/blockchain/xcapit/ and did a breakdown analysis of the page by myself to start off.

The entire page is divided as:
- About
- DPG Indicators
- Aligned SDGs
- Learn More
- Related Articles
Do we need to add or remove a title here? Can I connect with some writers or users to understand the importance of these ti

[2022-04-01 06:55] barcha47 commented on #15
Hey @jwflory , i have completed my initial 3 tasks. May i work on this or am i eligible to work on this?

[2022-04-01 07:24] manasvvi1 commented on #59
Hey @jwflory, I am trying to start hugo server but it showing this error: Error: Error building site: "C:\Users\Desktop\inventory-hugo-theme\exampleSite\content\billing-pricing\bill\_index.en.md:13:1": failed to extract shortcode: template for shortcode "notice" not found. Can you help me figure out please?

[2022-04-01 10:44] ragini-gp commented on #60
@Idadelveloper @jwflory Please can you tell me ,in 3rd point of details of this contribution, How to copy the template profile from where ?

[2022-04-01 11:29] ragini-gp commented on #60
@Idadelveloper @jwflory Please help me out. I am facing an issue. When I try to run hugo command, It shows the previous website, Thanks in advance! pag
![Screenshot (1568)](https://user-images.githubusercontent.com/97662858/161254800-29234610-3b1e-40e2-9668-c9fde6a07df7.png)
e

[2022-04-01 16:11] jwflory opened #89 "Rework example site into meaningful documentation for UNICEF Inventory theme"
# Summary

Convert the example site in this repository into an MVP documentation of the theme in the present day.

# Background

**Is the new feature related to a problem? Describe the problem**: The theme is growing but it is not well documented. Sometimes existing functionality is not discovered until researching a feature proposal. The theme needs a better way of organizing knowledge about itse

[2022-04-01 19:03] AbihaFatima opened #90 "Improve the UI by highlighting buttons on hovering"
# Summary

Highlight the background color of buttons while hovering.

# Background

**Is the improvement related to a problem? Describe the problem**:
The `CONTACT US` button [here](https://unicef.github.io/inventory-hugo-theme/) and `SEND` button [here](https://unicef.github.io/inventory-hugo-theme/contact/) should highlight the background color while hovering, as this helps to spot the button is

[2022-04-01 19:04] AbihaFatima commented on #90
@jwflory @Idadelveloper
If approved, I would like to work on this :)

[2022-04-01 20:07] barcha47 commented on #60
hey @ragini-gp , go back to root directory and then run the command.  It will work.

[2022-04-02 00:32] ragini-gp commented on #60
![Screenshot (1569)](https://user-images.githubusercontent.com/97662858/161356869-65494c83-06f2-45f4-8841-f57c5b9e4802.png)
@barcha47

[2022-04-02 03:52] yokwejuste commented on #60
try  `hugo serve -D` by the way what is your hugo version?

[2022-04-02 09:55] roli25 commented on #15
@jwflory Can I work on this, if still available?

[2022-04-02 10:15] ragini-gp commented on #60
@yokwejusteHugo version- hugo v0.96.0-2fd4a7d3d6845e75f8b8ae3a2a7bd91438967bbb windows/amd64 BuildDate=2022-03-26T09:15:58Z VendorInfo=gohugoio

[2022-04-02 10:17] ragini-gp commented on #60
@yokwejuste same error
![Screenshot (1572)](https://user-images.githubusercontent.com/97662858/161378698-05935722-d042-406c-8a92-0e3982319be2.png)

[2022-04-02 13:08] manasvvi1 commented on #59
Hey @jwflory @Idadelveloper,
I tried completing the Outreachy#1 issue. Please let me know if any changes are required.
Thank you!

![image](https://user-images.githubusercontent.com/77732100/161384646-6702fd21-fd82-48ad-aed5-6dfff96d958a.png)

[2022-04-02 14:03] manasvvi1 commented on #60
Hey @jwflory @Idadelveloper
Please review my work and suggest any required changes
Thank You

![image](https://user-images.githubusercontent.com/77732100/161386751-cd736784-d288-4eb7-9c26-bfb0a2565d1b.png)

[2022-04-02 14:21] manasvvi1 commented on #61
Hey @jwflory @Idadelveloper
I have completed this issue. Please review it.

Forked Repo: https://github.com/manasvvi1/inventory-hugo-theme.git
Git feature branch: https://github.com/manasvvi1/inventory-hugo-theme/tree/manasvvi1

If there are any further steps to be done, please assign me.
Thanks

[2022-04-02 15:50] ElHombreMorado8 commented on #34
@jwflory  I already have a first version of the prototype. I'll wait for your feedback
[https://www.figma.com/file/1dsbY57GnSLjTkwKWXHfoS/Untitled?node-id=0%3A1](url)

[2022-04-02 17:09] sakshi-0206 commented on #59
Hey! @jwflory @Idadelveloper I made the required changes. Kindly have a look.
![Screenshot 2022-04-02 223724](https://user-images.githubusercontent.com/76244677/161393624-16484c23-1ed8-4432-af03-c8b71258ac4f.jpg)

[2022-04-02 18:41] BeeBombshell commented on #71
Hi @jwflory, I'm having a little trouble understanding what needs to be done. 😅
The sample table on the [elements page](https://unicef.github.io/inventory-hugo-theme/installation/elements/) doesn't use the above-mentioned shortcode as of now. So, do we need to add a new table to document the shortcode or use it in an existing table?

<img width="960" alt="image" src="https://user-images.githubuser

[2022-04-02 19:33] bl-aire commented on #69
Hello @jwflory,

Over the past few days I researched how to approach the issue on Hugo’s official documentation and discussion forums. The closest I have gotten to finding answers so far is using front matter variables like Aliases and urls.

For Aliases, the use cases I saw aren’t related to the feature this issue is to achieve

And having the external link I want users directed to as the url onl

[2022-04-03 03:04] chaitri19 commented on #15
@jwflory Can I work on this issue if it is not assigned to anybody?

[2022-04-03 03:07] chaitri19 commented on #66
@jwflory Can I work on this issue if it is not assigned to anybody??

[2022-04-04 00:49] ragini-gp commented on #60
@jwflory @Idadelveloper , I am getting an error
![Screenshot (1573)](https://user-images.githubusercontent.com/97662858/161456987-cd6f1e3f-2bf7-4eb9-a635-b2fd8d7ad262.png)

[2022-04-04 00:52] yokwejuste commented on #15
hey! greetings @jwflory can I work on this issue for now?

[2022-04-04 00:54] yokwejuste commented on #66
@jwflory assign me to this issue, the PR is ready already.

[2022-04-04 01:22] yokwejuste opened #91 "🤦🏼‍♂️ Only single icons used for admonitions. 🖌️"
# Summary
This issue is derived from #64 and #66. And explained bellow.
Improvement in user experience is the main focus or idea behind this repository. Now visualizing only one icon for different admonitions and alerts can stuck. The only one icon used so far, check it below.
![image](https://user-images.githubusercontent.com/71908316/161458663-40ac019a-2f91-4157-9eea-2382a38fbbd6.png)

# Backgro

[2022-04-04 03:20] yokwejuste opened #93 "🌹 Adding french content."
# Summary
After I went through the [UNICEF inventory theme website](https://unicef.github.io/inventory-hugo-theme/fr/installation/) something hooked me up, and I realized the french page was not appropriate. I mean not been translated into french yet.
![image](https://user-images.githubusercontent.com/71908316/161467834-0083242d-7988-4fbf-a08f-4728e1075a04.png)
![image](https://user-images.githubu

[2022-04-05 04:00] #64 closed

[2022-04-05 04:00] #66 closed

[2022-04-05 04:02] jwflory commented on #66
Sorry, I was unable to assign this issue to @BeeBombshell. This was added in PR #83.

I would also like to note that I [closed the project for new applicants](https://www.outreachy.org/communities/cfp/unicef/) in the Outreachy portal. It is a very competitive round and we only have one funded internship. It may be strategic to look at other communities with fewer applicants for their mentored proj

[2022-04-05 04:04] jwflory commented on #59
@manasvvi1 @sakshi-0206 Thanks both! This looks good 👍🏻

I would also like to note that I [closed the project for new applicants](https://www.outreachy.org/communities/cfp/unicef/) in the Outreachy portal. It is a very competitive round and we only have one funded internship. It may be strategic to look at other communities with fewer applicants for their mentored projects. I know the [Fedora Proj

[2022-04-05 04:08] jwflory commented on #60
This error is because you do not have `asciidoctor` installed. You need it to build content in the Open Source Inventory. See the [O.S. Inventory developer environment guide](https://github.com/unicef/inventory/blob/main/.github/CONTRIBUTING.md#create-a-local-environment-of-the-inventory) and the [Asciidoctor installation docs](https://docs.asciidoctor.org/asciidoctor/latest/install/). Then you sh

[2022-04-05 04:19] jwflory commented on #61
@chaitri19 @manasvvi1 Nice work! You both completed all of the Outreachy onboarding issues.

You are free to work on other issues, although at the moment, everything is assigned. We are at capacity for contributions right now! This may change, but it is good to be strategic by looking at other communities with fewer applicants for their mentored projects. I [closed the project for new applicants](

[2022-04-05 04:34] jwflory commented on #90
@AbihaFatima Thanks for your patience! Yes, I agree that this would be an improvement. It was something I noticed missing a while back. Feel free to start on this.

[2022-04-05 04:44] jwflory commented on #85
This is fair feedback. You also identified other points that could go into new issues. The scope is big!

If we could narrow it down, what do you think a good first step would be to make prototyping and testing ideas easier? We could identify interviews and exercises to better understand the site UX. Maybe this is where we should start, but for the context of the Outreachy contribution period, we

[2022-04-05 10:33] bl-aire commented on #28
@jwflory hello,

My goal at the beginning of the week was to learn and understand how GitHub's API works and how I can achieve the goal for this issue. To try out ideas I had, I created a basic Hugo app and used Hugo's shortcodes feature to connect to GitHub's API and make a Get request.

I was able to get data about the unicef/inventory repository and reference it in my app's template...(a pictur

[2022-04-05 10:34] bl-aire commented on #28
@jwflory hello,

My goal at the beginning of the week was to learn and understand how GitHub's API works and how I can achieve the goal for this issue. To try out ideas I had, I created a basic Hugo app and used Hugo's shortcodes feature to connect to GitHub's API and make a Get request.

I was able to get data about the unicef/inventory repository and reference it in my app's template...(a pictur

[2022-04-05 13:49] ragini-gp commented on #60
@jwflory Thankyou so much for your guidance. I have made the changes, Please check, whether it is correct or not
![Screenshot (1575)](https://user-images.githubusercontent.com/97662858/161768445-3ff42474-5b68-4e7c-811b-f6a1cdd575cc.png)

Thanks in advance

[2022-04-05 16:42] Neha9849 commented on #76
Currently we have a layout for the dpg-report card. I am able to create a sample dpg sample report card as done in https://github.com/unicef/coach/issues/1.
But i am unable to incorporate this in the team profile to test it out as it uses [this ](https://github.com/unicef/inventory/blob/main/layouts/profiles/single.html) layout. What i thought is to  add a dpg report card partial instead of dpg re

[2022-04-05 17:20] Neha9849 commented on #28
I think we should add the layout of team profiles in this repo. Currently we have this [layouts ](https://github.com/unicef/inventory/tree/main/layouts) in the inventory site but this makes it difficult to make changes as we have to make changes in the inventory repository .
By adding this layouts in this repo also benefits other downstreams which may want to use this profiles.
I am also facing th

[2022-04-05 18:24] bl-aire commented on #28
Hi @Neha9849,

I have had this on my mind for a while now. This approach was the first thought I had too.

I'm super relieved I can talk to someone that understands my current problem. Hoping we get a solution to it soon

[2022-04-05 22:44] jwflory commented on #35
Hey @Yavnikaa,

The titles look right. We could use localization within Hugo to make this text more customizable. It may be a better task to refactor the existing profiles, migrate them into the theme, and improve the interface.

These are all good observations. Could you propose a wireframe of what an improved view would look like? This will frame the scope of work for the profiles and how to pha

[2022-04-06 02:36] jwflory commented on #34
@ElHombreMorado8 Nice work. This looks great! My only feedback is to place the download button above the description text, so it appears closer to the top of the page. Otherwise, this looks ready for implementation.

I would now start looking at how to create a new [single page template](https://gohugo.io/templates/single-page-templates/) as a new layout for download portals. To opt into this layo

[2022-04-06 02:45] jwflory commented on #71
The documentation site should use the table shortcode instead of the Markdown table. This is because the shortcode works across both Markdown and Asciidoc content.

This is the documentation for content writers and not for readers/users. A content writer should use the shortcode when creating tables. A reader or user should not know the difference. So, the fix here is very simple! It is padding th

[2022-04-06 03:02] jwflory commented on #69
Hi @bl-aire, this is a good start on research! 👍🏻

I think we will not get the desired functionality using the built-in `aliases` or `url` in the front-matter. Instead, we can create our own front-matter parameters by creating a new layout. Looking back to the original issue, it is less important that the redirect appears on the home page as much as it is for a page to be redirected to an external

[2022-04-06 03:04] jwflory commented on #15
Hi all, thanks for your patience with a reply here.

@roli25, would you still like to take this issue up? You are first in the queue to take it. If so, let me know and I will assign it. If not, I'll open it for the next person to work on.

[2022-04-06 03:08] jwflory commented on #93
Hi @yokwejuste, better localization is a great point and something that would make the theme more inclusive for others to use.

I'd like to hold off on localization work until #89 moves forward. I see the example site taking on a new form and function in the coming months, and it would be a shame to localize the existing content, for it to change later on. Also, it would be a good time to look at

[2022-04-06 03:11] jwflory commented on #91
Unique icons for each admonition were added in PR #83 by @BeeBombshell. This issue is complete! 🥳 Closing as a duplicate of #64 and #66.

[2022-04-06 03:11] #91 closed

[2022-04-06 03:14] jwflory commented on #60
@ragini-gp It looks good! You are ready to tackle #61.

However, I will note there is a lack of tasks to work on right now in the project after the starter issues. I recently [closed the project for new applicants](https://www.outreachy.org/communities/cfp/unicef/) in the Outreachy portal. It is a very competitive round and we only have one funded internship. It may be strategic to look at other c

[2022-04-06 03:40] jwflory commented on #28
Nice work 👍🏻

Makes sense. Note that the Pull Requests in question would be specified with a URL in the front-matter somewhere.

This is a good observation. This is tied into #35. The goal is to bring the team profiles within the scope of the theme and not the Open Source Inventory site. It is probably best to hold off on this issue until the team profiles are absorbed into the theme. Then, grabbi

[2022-04-06 03:41] BeeBombshell commented on #71
@jwflory Yes, makes sense to me... 😊

Can I work on this issue?

[2022-04-06 03:46] jwflory commented on #76
We want the DPG Report Cards to be their own layout, and not to be embedded inside another layout like the team profiles. The best place to look for this at the moment is the [unicef/coach repo](https://github.com/unicef/coach) (see [example site](https://unicef.github.io/coach/blockchain-2021/oky/)).

Perhaps instead of a partial, it should be its own layout. Then a page could inherit the templat

[2022-04-06 03:47] jwflory commented on #71
@BeeBombshell Definitely! 👍🏻

[2022-04-06 04:16] #90 closed

[2022-04-06 04:17] jwflory commented on #90
Thanks for working on this one @AbihaFatima!

[2022-04-06 05:51] Neha9849 commented on #28
Thanks @jwflory,  i didn't see #35. I will be working on the UI part of rpg-report card from the inventory repo until this issue gets solved :)

[2022-04-06 07:05] barcha47 commented on #15
@jwflory if no one to take this issue, kindly assign it to me.

[2022-04-06 07:57] ragini-gp commented on #61
@jwflory , I have completed task 3, Please go through it.
Forked repo: https://github.com/ragini-gp/inventory-hugo-theme.git
Feature branch -https://github.com/ragini-gp/inventory-hugo-theme/tree/feature
I saw my user name in browser tab bar.
Please let me know the next task

[2022-04-06 12:13] Neha9849 commented on #76
I did not understand where i should add this dpg report cards. In [unicef/coach repo](https://github.com/unicef/coach) we have only added report card of oky under the blockchain cohort. There we didnt implemented the profile for that startup team.
Do you want to have report card in seperate page? If that's the case than, should i add a button  to link to the report cards in the  profile page?

[2022-04-06 12:52] bl-aire commented on #69
Hi @jwflory ,

Using a single page template as a way to solve this does make sense. I will use this approach and give a progress report for review. Thanks for guiding me @jwflory

[2022-04-06 12:58] bl-aire commented on #28
@jwflory, noted.

Thank you

[2022-04-06 14:04] manasvvi1 commented on #15
Hey @jwflory,
If this issue hasn't been assigned to anyone yet, can i work on it as a part of the outreachy application process?
Thanks

[2022-04-06 14:15] bl-aire opened #95 "Improve navigation and wayfinding"
# Summary

Make the site more user friendly (a core goal of the Unicef project) by Improving navigation.

# Background

**Is the improvement related to a problem? Describe the problem**: Currently, the "Home" option does not appear on the navigation bar in the header when the language selected by a user is English. With French, it appears though so I believe this is an oversight that can be fixed.

[2022-04-06 14:20] bl-aire commented on #95
Hi @jwflory , please can I work on this as #28 is currently on hold?

[2022-04-06 14:52] ElHombreMorado8 commented on #34
Thanks for the feedback. I am going to start working on it.

[2022-04-06 20:13] Yavnikaa commented on #35
![Uploading image.png…]()

I have prepared the mockup for the page, imrpoving upon the critique I mentioned before.

A couple pf pointers:
- I have reduced color in the DPG indicators and made it more subtle only to connect with the different indicators.
- Links have been highlighted.
- The social media icons can be given their specific brand color on hover.
- The hierarchy of previous and next pa

[2022-04-06 21:56] Hydriah commented on #87
hello@jwflory  please i don't know if @yokwejuste  has started working on this since he has an ongoing task so i can go it

[2022-04-08 09:30] Yavnikaa commented on #28
Since I am working on the Team Profiles layout, can I help with this as well?

[2022-04-08 19:01] jwflory commented on #61
@ragini-gp The feature branch looks good, nice work! Currently, there are not any unassigned issues. The project had a huge interest and the available tasks were picked up. You can also see previous comments on this issue for guidance.

[2022-04-08 19:06] jwflory commented on #76
Ah! So, originally I did not see the DPG Report Cards being shared with the Team Profiles feature. I was looking at them as two separate features.

For example, the Open Source Inventory will feature Team Profiles of start-up companies working with the Venture Fund. The Coach Cards site would feature DPG Report Cards of different open source projects tied to the UNICEF Venture Fund. Does this make

[2022-04-08 19:07] jwflory commented on #69
No problem @bl-aire, please drop a line here if I can do anything to steer you the right way.

[2022-04-08 19:08] jwflory commented on #15
@roli25 or @chaitri19, would either of you still like to take this issue up? Otherwise, I will open it up for others on Monday, 11 April.

[2022-04-08 19:11] jwflory commented on #95
Hey @bl-aire, nice thinking. I agree with the general observations you make about the navigation, and improving the appearance of the top header and adding links to categories in the footer is a nice idea. I'd be curious to see either a wireframe or the code for an early implementation. Then we can workshop it in a Pull Request.

Does this make sense?

[2022-04-08 19:13] #71 closed

[2022-04-08 19:14] jwflory commented on #34
Thanks @ElHombreMorado8, let me know if I can answer any questions to steer you the right way.

[2022-04-08 19:35] Neha9849 commented on #76
@jwflory  yep i got it now :)

I said this as i thought we will be embedding the table in the team profile.

Makes sense, Thanks.

[2022-04-08 20:45] Neha9849 commented on #76
Currently we are using bootstrap grid for the report card.

### Current behavior:
![image](https://user-images.githubusercontent.com/85057583/162518821-f0e86922-d6d3-4ab5-8628-9e0d6df5bee1.png)
I suggest using table for this purpose as our table already has custom stylings and we can modify it a bit to get desired result.
I think this will improve the UI a lot.
@jwflory What do you think?

[2022-04-08 21:41] chaitri19 commented on #15
I would like to work on this issue.

[2022-04-09 02:27] yokwejuste commented on #87
Hey @jwflory ! Some improvements made from this [PR](https://github.com/unicef/inventory-hugo-theme/pull/81).

[2022-04-09 16:01] bl-aire commented on #95
Hi @jwflory ,

It makes sense. I attempted working on it earlier here (https://github.com/bl-aire/inventory-hugo-theme/tree/navigation)
and So far I achieved the result below. I would really appreciate a review so I'll know if  I am on the right track.

![issue95](https://user-images.githubusercontent.com/84882370/162581819-f589f127-af27-415b-9f6a-37b9e7ccc113.PNG)

[2022-04-10 13:25] bl-aire commented on #69
Hello @jwflory, while working on this issue I considered two options:

a. Having the user redirected to https://sdgs.un.org/goals immediately they click on the SDGS category in the navbar.

b. Opening the local sdgs page so a user is given a brief introduction about the Sustainable Development Goals before they are redirected automatically to the external link after a 10s delay.

![image](https://

[2022-04-10 14:19] Hydriah commented on #78
@jwflory  pls work on this ??

[2022-04-11 07:08] Neha9849 commented on #76
Preview of what it might look like with my proposed changes-

![Screenshot (84)](https://user-images.githubusercontent.com/85057583/162681505-7c07ae8c-1a93-4865-ae2e-b901fe498d9b.png)
![image](https://user-images.githubusercontent.com/85057583/162681515-ffa3667e-9ebf-4505-84a4-6903ae1bff37.png)
Mobile view -
![image](https://user-images.githubusercontent.com/85057583/162682372-29a34cf9-058a-4ffd-a

[2022-04-11 15:29] EmmanuelOloke opened #97 "Improve the UI of the Inventory Cards in the Explore Section."
# Summary

Improve the UI of the inventory card explore section by adding border-radius, box-shadows and subtle transition to individual cards

# Background

The current design looks quite basic and does not conform to the modern UI look of a professional website. With the improvements I plan to make, the inventory page will look a lot better and more pleasing to users. Adding box-shadow, border-r

[2022-04-12 20:00] Yavnikaa commented on #35
Any updates @jwflory ?

[2022-04-13 13:17] ElHombreMorado8 commented on #34
@jwflory I created a pull request for the issue https://github.com/unicef/inventory-hugo-theme/pull/98

[2022-04-13 16:21] bl-aire opened #101 "Improve Compliance to Web Content Accessibility Guidelines (WCAG)"
# Summary

Improve user experience by making site more compliant to W3C's Web Content Accessibility Guidelines.

# Background

When building projects, it is easy to focus on just having a bug free code that functions as it should, forgetting that actual people use these products and each of these users have their own need that has to be met.

To test accessibility of the site, I used WAVE and axe

[2022-04-13 16:22] bl-aire commented on #101
Hi @jwflory,

I would love to work on this.

[2022-04-14 12:41] Idadelveloper commented on #97
@EmmanuelOloke do you plan on adding images to the cards?

[2022-04-14 12:46] EmmanuelOloke commented on #97
No I do not... I just shared this particular image to showcase the box-shadow and border-radius and what it will look like when done

[2022-04-14 12:49] Idadelveloper commented on #97
@jwflory what are your thoughts?

[2022-04-14 12:55] EmmanuelOloke commented on #97
@Idadelveloper @jwflory Also, please I'll like some pointers on which directory the HTML and CSS files are located, and how best to go about making these changes. It's been quite challenging trying to figure my way around the theme/framework and I'll really appreciate the help. Thanks.

[2022-04-14 12:59] Idadelveloper commented on #97
@EmmanuelOloke the CSS is located in `assets/css/style.css`. Also bear in mind we utilized some bootstrap. The HTML is in the `layouts` directory. Go through the Hugo docs again and it will all make sense.

[2022-04-14 14:56] EmmanuelOloke commented on #97
Alright... I see now... I still have some questions please, as I'm still a little confused about the workflow. After completing the onboarding tasks, I can only run "hugo-serve" in the directory of task 2 and not task 3 which is where I have a cloned branch of the repo. When I run "hugo-serve" in the cloned branch directory I get "unable to locate config file or config directory" error, is that ho

[2022-04-15 09:38] EmmanuelOloke commented on #97
@Idadelveloper I'm still waiting on a reply to this please, any help I can get will be really great, thanks.

[2022-04-16 00:26] yokwejuste commented on #87
Can i move ahead with another contribution since this issue has being solved! @jwflory ?

[2022-04-16 00:36] yokwejuste commented on #78
@jwflory this issue has been solved can you check the PR please

[2022-04-17 07:12] Neha9849 opened #102 "Improve Card layout in Cohorts page"
# Summary

Improvement of the Card layout in Cohorts page
# Background

Here is how the layout looks at present -

![Screenshot (87)](https://user-images.githubusercontent.com/85057583/163704196-6088f2e5-48e8-4029-be76-4b312340f526.png)

This is the Expected Outcome-

![Screenshot (88)](https://user-images.githubusercontent.com/85057583/163704368-d8a84555-6e80-47a9-a80b-152193c57c5a.png)

Pictures

[2022-04-17 07:21] Neha9849 commented on #102
Currently Cohorts partial is not implemented in this Repo.
We have two options now:

1. Make the Changes in Inventory Repository.
2. Waiting till the issue #35 gets solved to move further.

[2022-04-17 08:37] Neha9849 opened #103 "Add Sidebar to the teams profile page"
# Summary

Adding Sidebar to the teams Page.
# Background
I was just browsing around and observed that the sidebar is missing in the teams page.
Here is what i am talking about:

![image](https://user-images.githubusercontent.com/85057583/163706548-b16250fb-515a-47d9-9d8b-2ad3c248786b.png)

This shows lack of consistency in the site. The Sidebar disappears dynamically and this also makes Users dif

[2022-04-17 09:12] Neha9849 opened #104 "Remove Related Articles section when there are no related articles."
# Summary

Remove Related Articles section when there are no related articles.

# Background

Related Articles heading appers even when there is nothing under it.
**Here is an example which shows this problem:**
![Screenshot (92)](https://user-images.githubusercontent.com/85057583/163707655-0ac4fba3-54a7-4f8b-a8eb-e3e4f5a34f06.png)

**Is the improvement related to a problem? Describe the problem**

[2022-04-19 07:36] Nolski opened #105 "Block Quotes not using text-color-dark"
# Summary

Due to the fact that blockquote contains paragraph tags within them from the markdown parser, the paragraph tag's text color CSS is overwriting that of the block quote and making quote text difficult to read.

# How to reproduce?

1. Create page containing block quote
2. Observe very light colored text in quote

# Expected behavior

Text is color of text_color_dark in configuration file

[2022-04-21 22:05] siddharth628 commented on #85
Sorry for the late response. I have made a Github Repository. [here](https://github.com/siddharth628/Design-Resources-Tutorials)

The first and foremost step would be to understand users through research. What is the website offering to its users that a few google searches cannot? What are their pain points in searching for information about open-source? How can the website mitigate those pain poi

[2022-05-05 14:58] jwflory commented on #35
Hey Yavnika, catching up here.

The mockup is beautiful! It also seems to reveal some other improvements that could be made to the theme, like the breadcrumb bar.

One possible improvement would be to change the DPG indicators into a progress bar, e.g. how many indicators of the nine are already met? What percentage is complete? This is a common question that the Venture Fund portfolio managers wo

[2022-05-10 19:55] Yavnikaa commented on #35
Thankyou for the feedback ^.^

This makes a lot of sense to convert the DPG indicators to a progress chart, indicating the percentage too. It can easily be included in the section of Fulfilled DPG indicators. Some options I explored and liked are here:

![image](https://user-images.githubusercontent.com/56485761/167709733-ad977b4b-feb7-449d-9b6a-0e6c9798e169.png)
(Instead of this complete list, do

[2022-05-10 20:42] jwflory commented on #35
@Yavnikaa The 9 dots approach makes the most sense to me. Each DPG indicator can be completed independently or mostly independently from the other. They may be completed in different orders and some projects may achieve some points while others succeed in other areas.

[2022-05-11 21:55] jwflory commented on #95
Hey @bl-aire, thanks for this! I'll follow up on PR #100 next.

[2022-05-12 08:52] Yavnikaa commented on #35
![image](https://user-images.githubusercontent.com/56485761/168030668-21a076a1-ea6a-4b0e-bc1f-4d893a9a8636.png)

I was thinking of executing it like this. We can only show the fulfilled DPG indicators next to it with color codes as shown above. Here we are not showing the entire list of DPG indicators at once, to reduce cognitive load. However, on hovering over the dots, we could show the indicato

[2022-05-12 15:32] jwflory commented on #35
@Yavnikaa The preview looks great. I also like the first idea, and we can always link out to the full DPG Standard for additional context too.

Do you have the information and context you need in order to proceed?

[2022-05-12 17:38] Yavnikaa commented on #35
Great, thanks!

To proceed further, i was thinking on first working on the breadcrumbs section and the "Related Articles" part before actually working on the Teams template. I'll directly raise a PR for these two by the weekend. Is it fine? Or do you have another idea to implement the settled design?

[2022-05-12 19:06] jwflory commented on #35
@Yavnikaa I think breadcrumbs and Related Articles are good places to start. 👍🏻 These pieces are smaller and likely give a better footing for tackling the larger redesign.

Note that you will need to land Pull Requests in a few places. For things like breadcrumbs and Related Articles, they should land here. Changes to the Team Profiles themselves will (for now) go to `unicef/inventory` where the T

[2022-05-12 19:12] jwflory commented on #69
@bl-aire Thanks for your patience with the feedback. 🙏🏻 I prefer not to do a redirect. I think that behavior is tricky and could have impact on search engine optimization depending how the redirect is handled (permanent, temporary, etc).

Although lately I was thinking that perhaps the approach outlined in the original comment is not right. I was thinking it could be interesting to create a new la

[2022-05-12 19:13] jwflory commented on #34
@ElHombreMorado8 Thanks for your patience! I am working on catching up on the backlog of comments and Pull Requests. Hope to review this PR before the end of the week.

[2022-05-12 20:43] jwflory commented on #76
Hey @Neha9849, thanks again for your patience here. Your mockup looks off to the right start! 🔍 🚀

That is a good question. The [Bootstrap grids](https://getbootstrap.com/docs/4.1/layout/grid/) were most appealing because of how they were [designed to be responsive first](https://uasites.arizona.edu/using-tables-vs-grids). The mobile interface is important and likely an area we can improve on, giv

[2022-05-13 10:44] Neha9849 commented on #76
Yep that makes sense!
Using table can be problematic in mobile view when we increase columns in the future.
But using responsive grids in the desktop view will make it look a bit unarranged( like before which is not aligned properly)
This problem can be sorted using fixed sizes for the columns, but i think going with table can be easier to acheive responsiveness.
Tables can be made responsive by m

[2022-05-13 18:09] bl-aire commented on #69
Hello @jwflory,
I really appreciate the feedback given.

I worked with it and was able to achieve the result needed. On clicking the SDGS subdirectory, the user gets redirected to an external URL. I achieved this by creating a custom archetype file which can be used subsequently.

[2022-05-13 20:55] bl-aire commented on #95
You are welcome :)

[2022-05-13 23:05] bl-aire commented on #69
I achieved this but when I ran "Hugo serve --theme ../../" I got an error that read URL protocols with (http*) is not supported.

An alternative I tried was declaring the external url in the configuration file as SDGS's url and it worked but this would have to be hardcoded every time one has to link to a third party site in future and defeats the idea of creating a solution one can use in future.

[2022-06-01 15:19] #104 closed

[2022-06-01 15:38] Neha9849 opened #107 "Shift Layouts in Inventory into this Repository"
# Summary

The layouts for team and cohorts are not present in the Inventory theme. Which makes it hard to implement UI/UX fixes.

# How to reproduce?
1.Add the layouts and partials in the repository
2.Remove them from the Inventory Repository

# Outcome
It will be easier to contribute by this change
The teams and cohorts layouts can also be used in other repositories which uses this theme.

[2022-06-02 03:56] jwflory commented on #50
Completed by Neha in PR #88.

[2022-06-02 04:29] jwflory commented on #107
This is a partial duplicate of #35, although moving the layouts here in the interim makes them easier to maintain in the short term as we get going with the internship.

As a rule of thumb, our sprints will be more intentional with what issues and tasks are planned for each two-week cycle. This first two-week sprint is more spontaneous since we are getting set up with the project management tools

[2022-06-02 04:31] jwflory commented on #104
I'm trying to remember which PR fixed this now 🤔 Guess I forgot to tag it up in this issue.

[2022-06-02 16:04] Neha9849 commented on #104
Actually, I tried working on this issue and found out that, everything is alright in the actual website.
I think, I found this issue in my local setup and may be it has some extra changes which ended up causing the above mentioned issue.
It was my mistake. I closed it as this issue is irrelevant.

[2022-06-03 02:48] #50 closed

[2022-06-03 04:19] #107 closed

[2022-06-03 04:22] jwflory commented on #105
Thanks for your PR on this one @Nolski! We're coming out of the Outreachy community contribution phase and hope to review your PR soon.

[2022-06-03 12:37] Neha9849 opened #112 "CSS fix in cohorts page"
# Summary

The buttons are not visible on hover.

# How to reproduce?

1. Changing the styling of the buttons on hover

**Screenshots**:

![image](https://user-images.githubusercontent.com/85057583/171855065-26a1af67-b1fb-4921-8123-3d5e35137c44.png)

[2022-06-06 04:23] jwflory commented on #102
Thanks for leading on this work @Neha9849, including on porting the layouts into the Inventory theme.

[2022-06-06 04:26] #102 closed

[2022-06-06 04:29] #103 closed

[2022-06-06 04:40] #105 closed

[2022-06-06 12:46] jwflory commented on #59
Thank you to everyone who participated in our project for the Outreachy May 2022 round! For those of you beginning your open source journey here, I hope this is just the first stop of many for you in your journey. ☺️ Wishing you the best from the UNICEF Office of Innovation. 🚀

[2022-06-06 12:46] #59 closed

[2022-06-06 12:47] jwflory commented on #60
Thank you to everyone who participated in our project for the Outreachy May 2022 round! For those of you beginning your open source journey here, I hope this is just the first stop of many for you in your journey. ☺️ Wishing you the best from the UNICEF Office of Innovation. 🚀

[2022-06-06 12:47] #60 closed

[2022-06-06 12:47] jwflory commented on #61
Thank you to everyone who participated in our project for the Outreachy May 2022 round! For those of you beginning your open source journey here, I hope this is just the first stop of many for you in your journey. ☺️ Wishing you the best from the UNICEF Office of Innovation. 🚀

[2022-06-06 12:47] #61 closed

[2022-06-09 03:27] jwflory commented on #97
Hi @EmmanuelOloke, thanks for your feedback and suggestion. I appreciate your patience. These are changes we can incorporate into the theme. I am adding this issue to our sprint board.

[2022-06-10 03:24] #15 closed

[2022-06-10 18:00] jwflory opened #118 "As a developer, I want clear documentation on forking so that I can reuse the Inventory theme for a new project."
### Summary

Related to #89.

### Priority

primary

### Category

documentation

### Type

business

[2022-06-10 18:01] jwflory opened #119 "As a developer, I want key features to be clearly documented so that I can effectively use available features."
### Summary

Related to #89.

### Priority

secondary

### Category

documentation

### Type

business

[2022-06-10 18:03] jwflory opened #120 "As a contributor, I want up-to-date information about contributing so that I can participate in a UNICEF-supported project."
### Summary

This is centered around contributing guidance in both the O.S. Inventory and the UNICEF Inventory theme. This information exists across READMEs, CONTRIBUTING.md files, and pages inside the Hugo sites, but we need to centralize them to one place.

I believe reworking the documentation in the example site (#89) first, and then adding a new section on contributing is a good move.

### Pr

[2022-06-10 18:05] jwflory opened #121 "As a developer, I want a modularized code base so that existing functionality is easily abstracted and new functionality is quickly incorporated with minor disruptions."
### Summary

I could see several smaller Pull Requests contributing to this user story. The goal is to make our code base cleaner and broken up into smaller pieces. This makes the theme easier to maintain, and allows new contributors to make focused contributions on the parts they want to change.

### Priority

secondary

### Category

design

### Type

business

[2022-06-10 18:08] jwflory opened #122 "As a reader, I want simple navigation of all pages in a top-level category so that I can quickly see other topics and navigate to other pages if desired."
### Summary

The sidebar is the relevant component of this user story. The main issue is the sidebar is not responsive. On mobile devices, the sidebar is moved to the top of the page. In categories with a lot of content, this makes the reader do a lot of scrolling to get to the content.

There are possibly other improvements to make to the sidebar on larger viewports too.

### Priority

primary

#

[2022-06-10 18:10] jwflory commented on #122
@Neha9849 Per the sprint retrospective today, I am tagging this issue for Sprint 2 from 13–24 June.

[2022-06-10 18:17] jwflory opened #123 "As a reader, I want to discover related articles to a topic I am reading about so that I can learn more about similar topics that I might otherwise miss."
### Summary

This is an exploratory issue. Are there ways we could better highlight what content is published in an article? Using tags is one way, and also making tagged content more discoverable could help.

~~There is also another potential here, like using a third-party library or tool to analyze the text and create a machine-generated summary. The priority of this user story is secondary, so

[2022-06-10 18:19] jwflory opened #124 "As an open source volunteer with limited free time, I want social media coverage of new open source releases at UNICEF Innovation so that I can follow new developments or participate in the project."
### Summary

To follow up near completion of the Outreachy internship. Coordinate with Mara to soft-launch the reworked DPG Standard help site.

### Priority

primary

### Category

outreach

### Type

business

[2022-06-10 18:25] jwflory opened #125 "As a reader, I want to browse the site from different devices (e.g. laptop or phone) so that I can access the Inventory quickly wherever I am working."
### Summary

This helps readers use the site effectively from different viewport sizes. Ultimately, this is about responsiveness. A more responsive website also helps us with Search Engine Optimization (S.E.O.), as search engines typically prioritize websites that perform and render well on mobile devices.

**For @Neha9849**: We'll complete a brief design exercise to evaluate where the site is not

[2022-06-10 18:36] jwflory opened #126 "As a prospective DPG applicant, I want fast and quick information about the DPG Standard so that I can understand what might be required of my project."
### Summary

This is one of two key user stories for the Outreachy 2022 internship.

This user story is focused on **content**. The existing content in the UNICEF Open Source Inventory site is related to the Digital Public Goods Standard, but it is ordered in its own categories. There is no demonstrated connection between the existing content and the DPG Standard. The content will need to be reorg

[2022-06-10 18:37] BeeBombshell commented on #123
To summarize the available articles would be an excellent idea to enhance the readability and relevance of the user search. I came across the following npm library that summarizes text using an algorithm explained in the link below. I hope this helps! 😊
- [Node-Summary NPM Package](https://www.npmjs.com/package/node-summary)

[2022-06-10 18:38] jwflory commented on #123
@BeeBombshell This is super helpful, thanks for the share! 🙏🏻

[2022-06-10 18:45] jwflory commented on #126
@Neha9849 Per our sprint retrospective today, I am tagging this Issue for Weeks 3-4 to track user interviews with our three key stakeholder groups. We can use the comments in this Issue to document feedback we collect from user stories.

1. [UNICEF Venture Fund](https://www.unicefinnovationfund.org/) team (a mostly non-software team)
2. UNICEF open source developers (mix of software and non-softwa

[2022-06-10 20:03] jwflory opened #127 "As a contributor, I want a definition of key stakeholders so that I can understand who the users are and what their needs might be."
### Summary

Related to #89.

Three stakeholder groups:

1. [UNICEF Venture Fund](https://www.unicefinnovationfund.org/) team (a mostly non-software team)
2. UNICEF open source developers (mix of software and non-software teams)
3. Start-up companies supported by UNICEF Venture Fund (many software teams)

### Priority

primary

### Category

documentation

### Type

business

[2022-06-10 20:11] jwflory opened #128 "As a prospective DPG applicant, I want to explore a specific indicator of the Standard so that I can better understand its validation criteria."
### Summary

This is one of two key user stories for the Outreachy 2022 internship. This user story is focused on **content** and **design**.

### Content

The DPG Alliance also maintains a [DPG help center](https://github.com/DPGAlliance/publicgoods-candidates/tree/main/docs/help-center) with useful documentation about how an indicator is interpreted. Sometimes this information can help one of ou

[2022-06-10 20:12] jwflory opened #129 "As a reader, I want to find the search bar at any time on the page so that I can look up a topic I am reading about."
### Summary

This helps readers discover new content related to something they read in an article or other site content. It encourages discoverability through search.

### Priority

secondary

### Category

front-end

### Type

functional

[2022-06-10 21:16] jwflory opened #130 "As a prospective open source contributor, I want to find more platforms and social media channels (e.g. Facebook, Instagram) on Team Profiles so that I can connect with UNICEF-supported companies who build open source projects."
### Summary

This helps start-up companies supported by the UNICEF Venture Fund identify community engagement channels. Currently, the Team Profiles feature supports a handful of social media platforms, but we should expand that to Facebook, Instagram, and possibly others.

See [OTTAA Project team profile](https://github.com/unicef/inventory/pull/91/files#r762002045).

### Priority

secondary

###

[2022-06-10 22:10] jwflory commented on #97
Hi @EmmanuelOloke, are you still interested in contributing the improvements detailed in this issue? If not, I can open it up for someone else in the community to work on.

[2022-06-10 22:12] jwflory commented on #101
Hi @bl-aire, I'm sorry I did not respond to this sooner. The feedback you outlined here is excellent, and I agree that we should prioritize accessibility improvements to the Inventory theme.

Are you still interested in working on this issue?

[2022-06-10 22:14] jwflory commented on #87
Hi, I'm sorry for the late follow-up. We'll continue to track this issue on PR #81.

[2022-06-10 22:27] jwflory commented on #78
This issue is blocked by the next steps for PR #81.

[2022-06-10 22:29] jwflory commented on #85
I moved this issue into the backlog and tagged it as a good first issue.

[2022-06-10 22:34] jwflory commented on #76
Catching back up here… the mock-up is a good reflection of the direction we would go. However, now that the internship is started, we will focus on the main deliverables. This mini-project can be an end-of-internship stretch project depending how the sprints go.

[2022-06-11 23:06] bl-aire commented on #101
Thank you.

I am still interested in working on it. And I have taken note of the review made for PR #99 and #100. I will make corrections and improvements on both.

[2022-06-14 17:19] EmmanuelOloke commented on #97
Hello @jwflory, Good day, thanks for reaching out and giving the opportunity to continue working on the project. Sadly, I've become involved in other engagements and will not be able to continue contributing at this time. I look forward to contributing to Outreachy projects in the future and wish the entire community well. Thanks for all the help and lesson learnt.

[2022-06-14 17:30] jwflory commented on #101
Thanks, @bl-aire! Looking forward to your continued contributions. ✨

[2022-06-14 21:11] Neha9849 commented on #122
@jwflory here is my first mockup, I will design a few more and than we can see which looks better.
![Desktop - 1](https://user-images.githubusercontent.com/85057583/173689426-176a5c6d-d7a0-49a4-a47f-ad909452f4e9.png)

[2022-06-16 02:31] jwflory commented on #122
Hey @Neha9849, as we discussed today, this desktop view looks like a good start. I am also keen to see the mobile view though since that view does not exist in the theme presently.

I like the idea of merging the breadcrumbs into the topmost navigation bar and making the sidebar more visually distinct by using the full vertical space. This reminded me of another design from a documentation site th

[2022-06-16 15:21] Neha9849 commented on #122
@jwflory, here is the mobile mockup

![mobile](https://user-images.githubusercontent.com/85057583/174104238-1e55db17-0ef7-46f3-a2cc-c65fc388773a.png)

[2022-06-16 15:23] Neha9849 commented on #122
In this mockup, there are two menu icons and this kinda looks weird🤔

[2022-06-16 15:26] Neha9849 commented on #122
![mobile2](https://user-images.githubusercontent.com/85057583/174105134-35f6a48d-80e3-4cf9-bee0-94167a3cb431.png)
Here, i have made a slight modification.

[2022-06-16 15:30] Neha9849 commented on #122
I think, our case is slightly different. if we incorporate the breadcrumbs in the top than we will have two navigation bars.
Are, you suggesting to keep the sidebar to the left in place of contents?

[2022-06-16 15:49] Neha9849 commented on #126
@jwflory Can you give more insights on this :)

[2022-06-16 16:20] Neha9849 commented on #122
![2nd](https://user-images.githubusercontent.com/85057583/174118327-b495aef8-f72b-44ca-90e3-abd73eae99d9.png)

[2022-06-16 16:41] Neha9849 commented on #122
![3rd desk](https://user-images.githubusercontent.com/85057583/174121416-fe7d10be-6813-434d-b66a-a5b7422cf278.png)

[2022-06-20 16:52] jwflory commented on #126
@Neha9849 Recapping our discussion on the [user interview outline](https://docs.google.com/document/d/1K9VVI-MDbbD78jTzbXnYa7hQOCP6Tvvg8c-n5KMv59Q/edit?usp=sharing) in stand-up today:

1. This issue (#126) is focused on content organization and structure. The current thinking is to restructure the existing categories (e.g. _Documentation_, _Governance_, _Legal & Policy_, etc.) into categories for

[2022-06-21 17:01] #112 closed

[2022-06-22 16:25] #69 closed

[2022-06-22 16:30] jwflory commented on #89
I'm going to tackle this one in the next sprint. I've already started to add new documentation in other places, so it is best that it gets more organized sooner than later.

[2022-06-22 17:56] BeeBombshell commented on #123
Hi @jwflory, if this issue is open to contributions, should I give it a try? 😊

[2022-06-22 18:57] jwflory commented on #123
Hey Bhavya, yes, you can take on this one! It's in our backlog so this is a good one to work on at your own pace. Do you need any information from me in order to get started?

Jun 22, 2022 13:56:42 Bhavya Verma ***@***.***>:

[2022-06-22 22:05] jwflory commented on #126
Today, @Neha9849 and I met with Prateek in the Office of Innovation to go over user testing, interviews, and brainstorming on the best approach to tackle this. Our approach will change slightly based on this feedback:

1. Next sprint (27 June to 8 July): **Restructure the existing content in the Open Source Inventory around the DPG Standard**. This will become the prototype we share during user in

[2022-06-22 22:06] jwflory commented on #122
@Neha9849 What is the status update here?

[2022-06-23 05:11] BeeBombshell commented on #123
Thank you @jwflory. I will go through the project once to figure out how to proceed with the implementation. I'll discuss the same with you, along the way. If I have any queries or need any help, I'll reach out then. 😊

[2022-06-24 14:33] jwflory commented on #123
@BeeBombshell This is neat, I like the direction you are going in.

Before going too far with creating the function and integrating it into the site, I am curious what the user-facing interface for this would look like. How would we surface the tags in a way that help the reader quickly assess whether an article is relevant or not for them?

I am open to your creative ideas on what this could look

[2022-06-24 16:55] jwflory commented on #87
We reached the end of Sprint 2 today. The feedback from this issue will be tracked in #122 and #125. Closing as `duplicate`.

[2022-06-24 16:55] #87 closed

[2022-06-24 16:57] jwflory commented on #78
Per the discussion on other issues and PRs, I am unblocking this issue since there is no corresponding Pull Request. I am re-tagging it as a good first issue, although it would be good to get this fixed during Sprint 3 (ending 8 July).

[2022-06-26 16:46] Neha9849 commented on #127
@jwflory where we are supposed to add this in the documentation?

[2022-06-26 19:24] BeeBombshell commented on #123
@jwflory I like your idea of including list page templates to categorize the articles as per the tags. But yes, extracting the keywords for the user to search would be a tedious task.

In addition, I was going through Hugo's documentation on the use of [Taxonomies](https://gohugo.io/content-management/taxonomies/). I think Hugo includes support for customized taxonomies, which could help in groupi

[2022-06-27 04:09] jwflory commented on #127
@Neha9849 A page about the key stakeholders makes up a new "Contributing" section in the example documentation site, which will capture more details about contributing to the UNICEF Inventory site and the UNICEF Toolkits using it (#89). It will become more clear where things like this belong in the coming weeks as #89 progresses.

[2022-06-29 03:05] jwflory commented on #78
@Neha9849 addressed this issue in PR #136.

[2022-06-29 03:06] #127 closed

[2022-06-29 03:43] jwflory commented on #123
@BeeBombshell Thanks for sharing this example. I like your thinking, but I am wondering if we are biting off too much to chew. At least, for this first step.

Perhaps we could backtrack some and take a look at the Node-Summary package you linked earlier in the issue. If we started with the Node-Summary package, that would also give us a grip on how to bundle Node dependencies into the project, whi

[2022-07-03 10:15] BeeBombshell commented on #123
Hi @jwflory, apologies for the late reply. 😅

I tried running the suggested articles on the [Node Summary Package](https://www.npmjs.com/package/node-summary). The results are as follows:

- [Trademark strategies](https://unicef.github.io/inventory/legal-policy/trademark/)
![image](https://user-images.githubusercontent.com/53828745/177034558-ff4fb915-5868-491b-88cb-763fc5ab2a92.png)

- [Open Hardw

[2022-07-05 11:55] jwflory commented on #97
Fixed by #117.

[2022-07-05 11:55] #97 closed

[2022-07-05 12:46] jwflory commented on #126
Here is a quick recap and notes of today's weekly stand-up call.

## DPG Standard walkthrough

We reviewed the DPG Standard and the indicators, what each one means, and how the Open Source Inventory and other mentor toolkits will cover guidance about the DPG Standard.

## Existing Inventory pages

- **Communities**: Move into DPG#8 as real-world examples.
- [**Developer Tools & Automation**](https

[2022-07-11 12:59] #122 closed

[2022-07-11 13:21] jwflory opened #139 "As a reader, I want to have the same navigation bar on all pages so that I don't get lost in the layout."
### Summary

In PR #133, we added a new layout for the breadcrumb bar and sidebar navigation. However, this layout was not applied to the Team Profiles layouts because they used a different copy of the code.

The scope of this user story is to unify the Team Profiles layouts with the rest of the site so a reader has the same user experience on all pages of the site. This will also help us improve

[2022-07-11 14:20] jwflory opened #140 "Outreachy blog post: Project progress report"

[2022-07-12 16:31] #139 closed

[2022-07-12 19:38] jwflory opened #142 "Sidebar navigation is clipped or goes off-screen with longer content"
# Summary

When viewing a category with several pages, the text in the sidebar will go off-screen when scrolling to the bottom of the page. This was only tested with larger viewports.

# How to reproduce?

1. Visit any of the example pages ([Software Toolkit](https://unicef.github.io/ooi-toolkit-software/technical-capabilities/version-control/), [DS Toolkit](https://unicef.github.io/ooi-toolkit-ds

[2022-07-13 12:32] Neha9849 commented on #142
@jwflory This one seems a bit more tricky than what I initially thought about it.
I thought of playing with the `z-index` property to fix this.
This would result in something like this-

Normal behavior:
![image](https://user-images.githubusercontent.com/85057583/178733395-9d55b384-467a-49e0-bad7-27bf722fecca.png)

When scrolled:
![image](https://user-images.githubusercontent.com/85057583/17873375

[2022-07-13 12:44] Neha9849 opened #143 "Navbar is not responsive in mobile view"
# Summary

The Navbar is not responsive in the mobile view.

# Expected behavior

All the content in the Navbar should be visible but the brand title is getting clipped.
# Actual behavior

This is what the Navbar is looking like at present
![image](https://user-images.githubusercontent.com/85057583/178735013-2c5dc140-e055-4262-8bd2-f2fff9c04aa5.png)

# Other details

This bug occurred because the

[2022-07-13 13:26] jwflory commented on #142
@Neha9849 It seems like this one will take more time to research on the right fix. I think the frequency of this issue is less, so we can deprioritize until after the DPG restructure is done. For now, let's keep this issue on the backlog. I also flagged it as a "good first issue" in case someone else has bandwidth to take it on before we add it to a sprint.

[2022-07-13 13:31] jwflory commented on #123
Hey @BeeBombshell, thanks for digging in and researching this one!

This deep dive you prepared has revealed flawed assumptions about relying on machine-generated summaries. These summaries are not useful on their own, and if we did use them, they would require manual work to pick the "best" or right one that makes sense. (Another challenging part here is that the content published here (and in th

[2022-07-13 14:20] jwflory commented on #123
@BeeBombshell I put [this documentation reference](https://gohugo.io/templates/taxonomy-templates/#example-list-tags-in-a-single-page-template) in the original comment, but I wanted to highlight it here in the discussion too as a reference. The [list templates](https://gohugo.io/templates/lists/) page is also helpful. What do you think about this approach? Do you have ideas on what a layout could

[2022-07-19 14:45] jwflory opened #145 "As a Venture Fund portfolio manager, I want to see evidence that a company meets DPG indicators so that I can verify their graduation requirements."
### Summary

The Team Profiles layout lets us specify which DPG indicators a start-up company has met. However, there is no way to attach evidence that the indicator was met. We need an easier way to link evidence that a DPG indicator was met from the Team Profile for the company. This makes the work of UNICEF Venture Fund portfolio managers easier by giving them a quick reference to verify that a

[2022-07-20 18:52] BeeBombshell commented on #123
Hi @jwflory! Yes, I agree, we can't utilize the machine-generated summaries as of now. Even if we do find a tool that generates meaningful summaries, we can't trust a third-party application unless it's highly popular, and well-maintained.

I think using the list templates is a nice approach. We can let the author create appropriate tags manually which can be displayed on the article's page (below

[2022-07-21 23:44] jwflory commented on #89
Closed by #148.

[2022-07-22 03:03] jwflory commented on #119
Closed by #149.

[2022-07-22 03:28] jwflory commented on #123
@BeeBombshell Cool! We are aligned here on the approach.

I think the next steps for this issue would be to create a design wireframe/mockup and then use that to implement the change within Hugo. Would you want to take your hand at putting together a design wireframe? This could be a simple sketch, or something more polished with tools like Figma or Penpot.

[2022-07-22 17:35] jwflory commented on #140
The blog post draft is finished, but we were talking baout publishing. Instead of the Root blog, @Neha9849 will try out some of the hosted platforms (e.g. Substack, Medium, etc.) and post the blog there. Once it is up, we'll share it on social media and with the team! 😀

[2022-07-27 09:11] #89 closed

[2022-07-27 10:18] #119 closed

[2022-07-27 11:28] jwflory commented on #93
The content reorganization work is taking place in #148, #149, and #118. The example site content was changed from French to Spanish (see commit c3ae5ab7c4957f30734ae7c53850ee3a6452c998 in PR #148). Given the ongoing work with localizations, I am closing this issue as `duplicate`.

[2022-07-27 11:28] #93 closed

[2022-07-28 13:02] jwflory commented on #126
Here is the text we can use for the category descriptions that appear on the home page:

* **DPG Indicators**: Detailed information and guidance on the indicators of the DPG Standard and how to achieve them in an open source work.
* **Open Source Resources & Best Practices**: Miscellaneous guidance, resources, and best practices around creating, maintaining, and participating in an open source com

[2022-07-28 13:11] jwflory commented on #140
The blog post is published here:

https://root-blogging-app.herokuapp.com/blog/62dd17f2ecb39aa2e8d84cfd

I am closing this as complete, although there are a few more steps before we can share and publish this widely with the support of UNICEF communications. The default landing page needs to be customized from the Root default and the site publish under a dedicated domain instead of the default He

[2022-07-28 13:11] #140 closed

[2022-07-28 13:14] jwflory commented on #140
Also saved in the Internet Archive for posterity:

https://web.archive.org/web/20220728131231/https://root-blogging-app.herokuapp.com/blog/62dd17f2ecb39aa2e8d84cfd

[2022-07-30 07:39] BeeBombshell commented on #123
Hi @jwflory, I created a simple wireframe to display how the tags could be put forth on the article pages. I'm not so experienced at creating wireframes. Hope this gives an idea of what I have in mind.

![Inventory theme tags](https://user-images.githubusercontent.com/53828745/181880300-bc6a357d-22b7-44fd-af58-4138e3c5db6f.png)

Kindly take a look and share your suggestions. 😄

[2022-07-30 20:39] jwflory commented on #142
Fixed by #150.

[2022-07-30 21:28] jwflory commented on #123
@BeeBombshell This is great! My only suggestion is that they could be a little smaller. It is good to call attention to them, but they shouldn't distract too much from the main text.

You are ready to give it a go on implementing this! How familiar with you Hugo are you? Do you need any pointers on how to get started? Let me know if I can give any pointers. 😀

[2022-08-03 12:35] jwflory commented on #142
It seems this regressed. Needs more investigation.

[2022-08-05 16:25] jwflory commented on #126
In Sprint 5 (ending today), we began the user testing interviews and got to know the real experiences of Venture Fund team members and UNICEF Venture Fund start-up companies using the Open Source Inventory. This feedback now exists in a confidential notes sheet from each interview we conducted.

Now, we need to organize the feedback and open new user stories based on the feedback we collected. The

[2022-08-05 19:32] jwflory commented on #124
This issue is now unblocked and we can begin planning the communications about the new DPG Indicator redesign. There are a few steps for this issue to begin moving:

**For @jwflory**:

- [ ] Contact Mara Navarro to plan social media and communications support for the DPG Indicator redesign
- [ ] Confirm a live presentation is possible for the Office of Innovation staff retreat from 22-26 August

*

[2022-08-05 19:34] jwflory commented on #125
In Outreachy 2022 Sprint 5, we determined that this issue was resolved over time across the previous sprints. There could still be edge cases, but these should be tracked in a new user story that is more specific, or flagged as bug reports.

Closing as `complete`. 🌊

[2022-08-05 19:34] #125 closed

[2022-08-05 19:44] jwflory commented on #142
This was actually fixed in #150. In Sprint 5 retrospective today, we realigned the `unicef/inventory-staging` `main` git branch to the same branch used for the Pull Request in unicef/inventory#136. This started working shortly after getting the git history to mirror the `unicef/inventory` base commit.

Closing this again as `completed` and grouping it back with Sprint 5 since it was actually fixed

[2022-08-05 19:44] #142 closed

[2022-08-05 20:26] jwflory commented on #128
This user story can be closed once the `type: dpg-standard` layout appears on the site home page by default.

[2022-08-05 23:30] #143 closed

[2022-08-09 10:14] #128 closed

[2022-08-09 10:19] Neha9849 commented on #126
@jwflory
What else is to be done to close this issue?

[2022-08-09 11:52] jwflory commented on #126
@Neha9849 Once the user feedback from the interviews is organized and grouped, I will open new user stories from the feedback. We can group some of those user stories as sub-tasks of this issue, and close this one once they are complete.

[2022-08-09 18:04] BeeBombshell commented on #123
Hi @jwflory, sorry for the delayed response, got caught up with some work. I'm not so familiar with using Hugo. I'd appreciate it if you could provide some resources to get started. 😄

[2022-08-12 13:48] jwflory commented on #123
@BeeBombshell No problem.

You will need to create a new [partial template](https://gohugo.io/templates/partials/) in the theme (`/layouts/partials/`) and embed that into the [default partial template](https://github.com/unicef/inventory-hugo-theme/blob/main/layouts/partials/default.html). This will be part of a [single page template](https://gohugo.io/templates/single-page-templates/), which is t

[2022-08-13 14:58] Neha9849 opened #153 "As a reader, I want a better background image in homepage so that I understand the purpose of the site."
### Summary

User review from testing:

- Background image on site is misleading; creates slight confusion (e.g. open roles, open positions?). Contrast is difficult.

- Replace background image with something more human and inviting. Connecting to UNICEF mission.

### Priority

primary

### Category

front-end

### Type

functional

[2022-08-13 15:00] Neha9849 opened #154 "As a new user, I want more context on how to use the website."
### Summary

User reviews in user testing:
-  more background context for purpose before diving in.
- More context about what the site is and how to use it
- Unclear on how to use the website. Receiving some guidance and prompting helped to navigate the site, i.e. using the DPG indicators to discover content

### Priority

primary

### Category

documentation

### Type

functional

[2022-08-13 15:02] Neha9849 opened #155 "As a reader, I want "Pages" and "Cohorts" dropdown to be more meaningful so that I understand what they mean."
### Summary

User reviews in testing:
- “Pages” tab is unclear and not meaningful.
- Confusion about the Pages dropdown
- “Pages” drop-down is not clear. What does it mean?

### Priority

primary

### Category

front-end

### Type

functional

[2022-08-13 15:04] Neha9849 opened #156 "As a reader, I don't want to redirect to new website on clicking toolkits."
### Summary

User reviews in testing:

- Toolkits navigation was confusing; disruptive to change to new site
- What are toolkits? Some sites have different content. Unclear that there are different websites.

### Priority

primary

### Category

design

### Type

functional

[2022-08-13 15:06] Neha9849 opened #157 "As a reader, I want to go the home page on clicking on the unicef logo."
### Summary

User reviews in testing:

- Clicking UNICEF logo takes you to UNICEF website; clicking on either should go to the same page (i.e. O.S. Inventory)
- UNICEF.org redirect from top logo was confusing!

### Priority

primary

### Category

front-end

### Type

functional

[2022-08-13 15:08] Neha9849 opened #158 "As a reader, I want search bar to work more effectively."
### Summary

User reviews in testing:

- Search bar was unclear; keywords would help to better organize content and improve usability of search bar.
- Dropdown does not automatically expand when navigating to a page from search (hard to understand where you are)
- Search bar needs better keywords; some pages are very hard to find
- Search bar is tricky to find the info needed; easier to filter by

[2022-08-13 15:11] Neha9849 opened #159 "As a reader I want some improvements in teams page."
### Summary

User reviews in testing:

- Would be nice to see their location. Where are they based?
- Do DPG indicators have the same level of importance as SDG indicators? SDG indicators are very large.
- Company profile “Learn more” section
- How do you engage? How can you participate?
- Company profiles would be a deep dive on specific company’s ”About us” information; start from the Fund websi

[2022-08-13 15:14] Neha9849 opened #160 "As a reader, I want the content of this effective to be more efficient."
### Summary

User reviews in testing:
- DPG indicators: Intro text is too complex for a layperson to understand; could use simpler language. First line is difficult to understand.
- Question of when a company profile was last updated
                    Kotani Pay says 300 users, but when was that updated?
- DPG Indicators text is a little overwhelming
- Reference to tools, like Coveralls and othe

[2022-08-13 15:16] Neha9849 opened #161 "As an open source developer, I want the Resources category to be more specific so that I can quickly find the content I need."
### Summary

User reviews in testing:
- “Resources” seems unclear; many people look here first for more information (e.g. licenses)
- Purpose of Resources page was unclear.

### Priority

primary

### Category

front-end

### Type

functional

[2022-08-13 15:18] Neha9849 opened #162 "As a reader, I want the FAQ section to be more relevant."
### Summary

Both Prateek and Milja went to the FAQ page when they were lost, but it did not have the information they were looking for (e.g. how to find information on the site)

### Priority

secondary

### Category

design

### Type

functional

[2022-08-13 15:20] Neha9849 opened #163 "As a new user, I want the content in homepage to be more organised]."
### Summary

New users are confused about what to do from the home page. Information overload initially.

### Priority

secondary

### Category

design

### Type

functional

[2022-08-15 16:41] jwflory commented on #153
Free and open source images we can use for replacing the background image: https://unsplash.com/

[2022-08-15 16:48] jwflory commented on #155
Change "Cohorts" to "DPG Projects" or similar.

[2022-08-15 16:50] jwflory commented on #156
Move from top navigation into a new card in the home page. Using the existing default layout, this new category only has an index page that describes the other toolkits and where to find them. No new layout needed.

[2022-08-15 17:06] jwflory opened #164 "As a reader, I want the top navigation to be tighter so that there is less noise when scrolling in an article/page."
### Summary

Related to #157. The layout would better mimic the approach used on UNICEF sites like the [CryptoFund](https://cryptofund.unicef.io/). The logo would disappear when scrolling, and the top navigation bar would persist on screen. But we need to figure out what to do with the breadcrumb bar. Having too many different bars could be confusing for the user interface.

### Priority

secondar

[2022-08-15 17:07] jwflory commented on #157
Remove the `<a>` attribute from the logo so it is no longer clickable.

[2022-08-15 17:11] jwflory opened #165 "As a reader, I want to have better feedback on the search bar so that I can navigate using common shortcuts."
### Summary

Related to #158:

- Dropdown does not automatically expand when navigating to a page from search (hard to understand where you are)
- Pressing “Enter” on the search bar didn’t do the right thing, i.e. going to a page

### Priority

primary

### Category

front-end

### Type

functional

[2022-08-15 17:16] jwflory commented on #162
Two parts:

- @Neha9849: Move FAQ to end of the top nav.
- @jwflory: Add more FAQ content.

[2022-08-15 17:17] jwflory commented on #161
Rename category to "UNICEF Mentoring"

[2022-08-15 17:28] BeeBombshell commented on #123
Thanks, @jwflory this makes so much sense! 😄
I'll get on the implementation ASAP. Will keep you updated, and let you know in case of any queries.

[2022-08-15 19:25] jwflory commented on #159
Summarizing the key actions to take in this user story:

1. Adding location metadata to a team profile (and possibly embedding a map, e.g. [Leaflet](https://leafletjs.com/)?)
2. Give more emphasis to DPG Indicators met and not met, as this is critical information in the team profile (it is difficult to notice in current layout)
3. Deprioritize SDG indicators (perhaps smaller icons)
4. Organize spe

[2022-08-15 19:49] jwflory commented on #160
This user story is about the content published in the Open Source Inventory team profiles. Specific actions to address this user story:

- [ ] Simplify DPG Indicators text (start with context about _what_ a DPG is, don't assume the reader to know)
- [ ] Highlight tools or relevant project links used by a company, e.g. code test coverage or continuous integration pipeline for core product
- [ ] Add

[2022-08-15 20:21] jwflory commented on #123
@BeeBombshell Awesome, thanks so much! To help us with project management, could you also give your best estimate on when you would complete this? We work in two-week sprint cycles, with the current sprint ending this Friday (19 August). So we could target these following dates for the initial Pull Request:

- 19 August
- 9 September
- 23 September
- 7 October

Ideally it would be completed within

[2022-08-17 08:08] BeeBombshell commented on #123
Hi @jwflory, I have started working on the implementation part. To be on the safer side, I'd say that I'll have this issue wrapped up by the 9th of September. For now, I need your advice on whether the following tags template looks alright. I've created a few sample tags to demonstrate how they'll look. I'll get to the mapping part next. 😊

<img width="960" alt="image" src="https://user-images.git

[2022-08-17 16:56] Neha9849 commented on #161
@jwflory
I have done this change in the staging repo and pushed it.

[2022-08-18 00:10] jwflory commented on #123
@BeeBombshell Looking good! Seems like you're on the right track. 💯

I've also triaged this to target the development sprint ending on 9 September. 👍🏻

[2022-08-18 00:20] #130 closed

[2022-08-18 00:29] jwflory commented on #161
@Neha9849 Thanks for updating! It will also help if you tag issue numbers in your commits, e.g. `Fixes unicef/inventory-hugo-theme#161`.

[2022-08-19 00:18] jwflory commented on #118
Completed by PR #166.

[2022-08-19 00:22] jwflory commented on #120
I need to bump this user story to the next sprint, ending on 2 September. I do not have capacity to put together documentation about contributing guidelines before the Office of Innovation team retreat. I also hope to gather feedback on the UNICEF Toolkits from the Office of Innovation team during the said in-person team retreat from 22-26 August.

Additionally, I think @siddharthvipul could have

[2022-08-19 00:37] jwflory commented on #153
Fixed by unicef/inventory#138.

[2022-08-19 10:11] Neha9849 commented on #156
@jwflory I should be working on staging the repo for this right?

[2022-08-19 11:27] #157 closed

[2022-08-19 11:30] jwflory commented on #156
@Neha9849 Right.

[2022-08-20 11:04] #153 closed

[2022-08-23 17:25] Neha9849 commented on #164
@jwflory I think this is something not that necessary because in our navigation we have grouped both the logo's( the main brand logo and the repo logo) so won't affect the navbar height much.

[2022-08-23 17:26] Neha9849 commented on #163
@jwflory yes it come's under #154 only.
I will close this issue👍

[2022-08-23 17:26] #163 closed

[2022-08-23 17:29] Neha9849 commented on #162
@jwflory Just for the reference, I have moved the FAQ to the end of the navbar.

[2022-08-23 17:30] Neha9849 commented on #161
@jwflory I think this should be closed as it's already fixed

[2022-08-23 17:41] Neha9849 commented on #160
@jwflory
Will you take this issue?
I don't think I have the context depth needed here.

[2022-08-23 19:38] Neha9849 commented on #159
@jwflory
I think the last point is already met.
Because at the bottom of the article we have last updated on

I didn't get the organizing the links part. I need more context on that. I think except for this, this issue is being fixed

[2022-08-23 19:42] Neha9849 commented on #156
@jwflory This issue has been covered in inventory-staging

[2022-08-23 19:44] Neha9849 commented on #155
@jwflory what should i change cohorts into

[2022-08-23 21:07] jwflory commented on #164
We want similar UI/UX to the CryptoFund/Juniper website to have a common user experience across Office of Innovation web resources. This user story is less about navbar height as it is about organizing the navbar in a cleaner way. This likely means refactoring of the navigation code. We'll keep this open on the backlog, but I've flagged it as a good first issue for a new contributor to work on.

[2022-08-23 21:09] jwflory commented on #161
We'll close when unicef/inventory#136 is merged.

[2022-08-23 21:11] jwflory commented on #160
@Neha9849 This one doesn't need to be completed right now. We'll keep it on the backlog and also wait for my successor to get caught up on the UNICEF Inventory theme and the toolkits too.

[2022-08-23 21:14] jwflory commented on #156
Acknowledged. Next, you need to update PR unicef/inventory#136 and rebase it on latest `main` to prep it for a final review and merge.

[2022-08-23 21:16] jwflory commented on #155
`DPG Projects` is sufficient for now.

[2022-08-23 21:22] jwflory commented on #159
#168 addresses two of the five items in the checklist above.

@Neha9849 I encourage you to ask questions to help you better understand the context. Could you elaborate on what is unclear? What would help you come up with a design?

I see it now. We should consider this to mean that the last updated timestamp is not discoverable by the user. We need an improved design for the Team Profiles that mak

[2022-09-15 23:18] #118 closed

[2022-09-15 23:20] jwflory opened #170 "As a Hugo developer, I want to read documentation about Team Profiles so that I understand this feature of the UNICEF Inventory theme."
### Summary

A knowledge-gap for new contributors is the "Team Profiles" feature, first developed by @Idadelveloper and iterated further by @Neha9849. We should have a feature article in the example site describing Team Profiles, what they are, and how they work.

### Priority

primary

### Category

documentation

### Type

business

[2022-09-15 23:46] jwflory opened #171 "As a UNICEF Fund portfolio manager, I want to quickly identify past Fund companies as DPGs so that get quick metrics to support past and current Fund companies."
### Summary

This is a step closer to making the Team Profiles feature stick out as a useful resource for the team. It also helps fill a need for easy-to-update metrics and data about which of our Venture Fund companies are Digital Public Goods (DPGs), nominated as DPGs, or neither.

There are two parts to this task:

- [ ] Beginner task
- [ ] Challenging task

## Beginner task

A specific Team Pr

[2022-09-16 00:03] jwflory opened #172 "Admonitions appearance breaks when code blocks are included"
# Summary

If a theme [admonition](https://unicef.github.io/inventory-hugo-theme/features/admonitions/) includes a fenced code block, it breaks the admonition into two containers and the fenced code block appears to sit outside of both containers. This is a negative user experience and can challenge the meaning of content as written.

# How to reproduce?

## Markdown

See [syntax](https://markdown

[2022-09-17 01:54] #126 closed

[2022-09-17 01:54] #156 closed

[2022-09-17 06:15] jwflory commented on #156
Fixed in unicef/inventory#136.

[2022-09-17 06:15] jwflory commented on #126
Fixed in unicef/inventory#136.

[2022-09-17 06:26] jwflory commented on #162
Related to unicef/inventory#35.

[2022-09-20 02:07] jwflory commented on #161
Completed by unicef/inventory#136. Closing as complete! 🎬

[2022-09-20 02:07] #161 closed

[2022-09-23 03:11] jwflory commented on #165
Partially-addressed by unicef/inventory#136. I committed keywords to all existing content and also added it to content templates. But the interface for the search bar could be improved, so that keyboard shortcuts that work for a site like Google are also supported in the UNICEF Inventory search bar user interface.

[2022-09-23 04:29] #155 closed

[2022-09-28 01:38] justwheel opened #176 "Create placeholder images with dominant color using `$image.Colors` method"
# Summary

Use a Hugo filter to create a placeholder for an image using the dominant color of the image

# Background

**Is the new feature related to a problem? Describe the problem**: Someone browsing the site from a poor connection will not see images immediately when viewing a page. The page may load in an unexpected way if the image is not yet downloaded.

**What does the new feature look lik

[2022-10-01 15:39] BhavyaT-135 commented on #164
Hi @jwflory, I am new to the project and have set it up on my local machine recently. I have some experience working with Hugo and would like to contribute. Could I take up this issue? 😊

[2022-10-02 20:05] #123 closed

[2022-10-02 20:06] jwflory commented on #123
Thanks for tackling this one, @BeeBombshell! 👏🏻

[2022-10-02 20:34] jwflory commented on #164
Hi @BhavyaT-135, welcome to our project! 👋🏻 Nice to have you here.

Yes, this issue is in our backlog so it would be a great one to tackle at your own pace. 👍🏻 Some additional notes about this issue:

* The majority of the top navigation bar code is in [**`/layouts/partials/navigation.html`**](https://github.com/unicef/inventory-hugo-theme/blob/main/layouts/partials/navigation.html).
* Do your bes

[2022-10-03 15:02] BhavyaT-135 commented on #164
Hey @jwflory thanks!
Sure, I'll begin by creating a prototype using Figma and then start implementing the code for it 😊

[2022-10-03 20:41] jwflory commented on #164
Sounds good @BhavyaT-135, over to you for the prototype! 🙌🏻

Are you comfortable setting a deadline to share back the prototype in this GH Issue? 🎯 Is Monday morning, 10 October acceptable? Let me know if you need more time. 👍🏻

[2022-10-03 21:13] BhavyaT-135 commented on #164
Thanks @jwflory, sounds great! I'll share the prototype ASAP! 😃

[2022-10-05 12:20] BhavyaT-135 commented on #164
Hi @jwflory, I first thought of replicating the template that's used in CryptoFund. However, in our case, the logo is included in the navbar itself. What I suggest is, while scrolling, we let the navbar remain at the top and replace the logo with the breadcrumb.

I've come up with the following prototype using Figma to demonstrate what I have in mind. Kindly take a look and let me know your though

[2022-10-06 09:39] BhavyaT-135 commented on #164
Great @jwflory! I'll look into the coding implementation from here on. And I'll keep the commit message in mind! 😊

[2022-10-06 13:09] jwflory commented on #124
This did not go originally as planned, but we included a highlight of the theme and a call-to-action to the theme for contributing in a recent `unicef.org` article:

https://www.unicef.org/innovation/stories/spurring-new-digital-public-goods

[2022-10-06 13:09] #124 closed

[2022-10-06 18:09] jwflory commented on #164
Excellent!

One thing I realized after thinking more about this is what you think the mobile view would look like. I think it would be worth doing a responsive prototype too if you have a chance @BhavyaT-135! 🙏🏻

[2022-10-06 18:29] jwflory commented on #158
Keywords were added to all existing content in the [UNICEF Open Source Inventory](https://github.com/unicef/inventory) via commit unicef/inventory@547525c0998b1c9de04fe0afeda2cf0bc66abf87 in PR unicef/inventory#136. However, the user experience around the search bar could still be improved with the feedback from the original user story. Keeping this open, but moving it to the backlog for future re

[2022-10-07 00:19] #154 closed

[2022-10-07 10:06] BhavyaT-135 commented on #164
Sure @jwflory I'll look into it once I implement the code for this one! 😊

[2022-10-20 06:26] BhavyaT-135 commented on #164
Hey @jwflory! I've been trying a bunch of stuff with the navigation and breadcrumb bar. Yet to find an optimal solution. Might take a few more days. Hope you don't mind.😊

[2022-11-13 10:15] ClaudiuPapasteri opened #182 "Control banner size and section padding"
# Summary

This is not an issue per se but I can't seem to figure out how to make the spaces between sections on first page narrower.

# Background

When I render the template, the banner as well as the next section (generated by main index.md) have a larger width than the example websites online (yes, even for rendering the exampleSite from the theme).

**Is the improvement related to a problem?

[2022-11-29 20:53] justwheel commented on #182
Hi @ClaudiuPapasteri, thanks for opening your first issue here!

I'm not sure I understand the issue you are facing. Do you want the white space between the elements to be tighter? Is any content flowing off-screen? If you can show a screenshot of what you meant, it will be easier to narrow down where the styling for this code lives.

[2022-11-30 13:04] ClaudiuPapasteri commented on #182
Sorry, I updated the css and the spacing looks fine now. Still adding a parameter to control for banner height would be helpful. Regardless, this issue should be closed.